@charset "UTF-8";
/* Master Stylesheet */
/* :: 1.0 Import Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap");
.btn-submit {
  height: 35px;
  width: 90px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  background-color: #2c7edb;
  color: #ffffff;
}

.btn-submit:hover {
  background-color: #62c9fcce;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.btn-submit:focus {
  font-size: 16px;
  font-weight: 400;
}

.btn-back {
  height: 35px;
  width: 90px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  background-color: #5a5a5a;
  color: #ffffff;
}

.btn-back:hover {
  background-color: #757575;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.btn-back:focus {
  font-size: 16px;
  font-weight: 400;
}

.btn-delete {
  height: 35px;
  width: 90px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  background-color: #e94a4a;
  color: #ffffff;
}

.btn-delete:hover {
  background-color: #8a8a8a;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.btn-delete:focus {
  font-size: 16px;
  font-weight: 400;
}

.btn-padding {
  height: 35px;
  width: 90px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  background-color: #02a6ac;
  color: #ffffff;
}

.btn-padding:hover {
  background-color: #0ec6cc;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.btn-padding:focus {
  font-size: 16px;
  font-weight: 400;
}

.btn-checkok {
  height: 35px;
  width: 90px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  background-color: #325eaf;
  color: #ffffff;
}

.btn-checkok:hover {
  background-color: #4e78ee;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.btn-checkok:focus {
  font-size: 16px;
  font-weight: 400;
}

.btn-create {
  height: 35px;
  width: 90px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  background-color: #325eaf;
  color: #ffffff;
}

.btn-create:hover {
  background-color: #4e78ee;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.btn-create:focus {
  font-size: 16px;
  font-weight: 400;
}

.btn-cancel {
  height: 35px;
  width: 90px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  background-color: #d8d8d8;
  color: #5a5a5a;
}

.btn-cancel:hover {
  background-color: #8a8a8a;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.btn-cancel:focus {
  font-size: 16px;
  font-weight: 400;
}

.btn-edit {
  height: 35px;
  width: 90px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  background-color: #FFCC01;
  color: #5a5a5a;
}

.btn-edit:hover {
  background-color: #ffa601;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.btn-edit:focus {
  font-size: 16px;
  font-weight: 400;
}

.btn-calendar {
  height: 35px;
  width: 90px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  background-color: #FFCC01;
  color: #5a5a5a;
  border: 1px solid #a5a5a5;
  height: 35px;
}

.btn-calendar:hover {
  background-color: #ffa601;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.btn-calendar:focus {
  font-size: 16px;
  font-weight: 400;
}

.btn-dateFilter {
  height: 35px;
  width: 90px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  background-color: #FFF;
  color: #5a5a5a;
  border: 1px solid #a5a5a5;
  height: 35px;
  outline: none;
}

.btn-dateFilter:hover {
  background-color: #D9EDF7;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.btn-dateFilter:focus {
  font-size: 16px;
  font-weight: 400;
}

.btn-dateFilter:hover {
  color: #343A40;
}

.btn-dateFilter.active {
  background-color: #325eaf;
  color: #FFF;
  z-index: -1;
}

button.dt-button, div.dt-button, a.dt-button, input.dt-button {
  color: #ffffff;
  background-color: #343A40;
  border: none;
}

button.dt-button:hover, div.dt-button:hover, a.dt-button:hover, input.dt-button:hover {
  border: none;
  color: #325eaf;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 15px;
  background-color: #f7f7f7;
}

.card {
  -webkit-box-shadow: 1px 1px 2px 1px rgba(148, 148, 148, 0.37);
          box-shadow: 1px 1px 2px 1px rgba(148, 148, 148, 0.37);
  border-radius: 10px;
}

.form-control-sm:focus {
  border-color: #44a1d0ce;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(15, 173, 221, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(15, 173, 221, 0.25);
}

input:disabled {
  background-color: #e9e9e9;
  color: #666;
  opacity: 0.3;
  -webkit-text-fill-color: #666;
  -webkit-opacity: 1;
}

.form-group {
  margin: 0px;
  margin-top: 5px;
}

.form-control-sm {
  border: 1px solid #a5a5a5 !important;
  height: 35px !important;
}

.form-control {
  border: 1px solid #a5a5a5 !important;
}

.select2-selection--multiple {
  margin-bottom: 0 !important;
}

.select2-selection--single {
  height: 35px !important;
  padding: 3px;
}

input:focus {
  outline-style: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
}

p {
  font-family: "Noto Sans TC", sans-serif;
  color: #5a5a5a;
  font-size: 14px;
  line-height: 2;
  font-weight: 400;
}

.select2-search__field {
  border: none;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: 0 solid transparent;
  font-family: "Roboto", sans-serif;
}

ul {
  margin: 0;
}

ul li {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-overlay {
  position: relative;
  z-index: 2;
  background-position: center center;
  background-size: cover;
}

.bg-overlay::after {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-50 {
  padding: 50px !important;
}

.pb-70 {
  padding-bottom: 70px !important;
}

.px-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.pt-30 {
  padding-top: 30px;
}

.deleteicon .fa-trash-alt {
  color: #ffffff;
  line-height: 35px;
}

body {
  position: relative;
}

.assigncollapse .card-header {
  background-color: #D9EDF7;
  border-top: 2px solid #325eaf;
  padding: 3px 10px;
}

.assigncollapse .card-header .btn-collapse {
  color: #325eaf;
  width: 100%;
  outline-style: none;
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

.assigncollapse .card-header .btn-create {
  width: 150px;
}

.assigncollapse .card-body .component label, .assigncollapse .card-body .component legend {
  padding: 0px 10px 0px 0px;
  line-height: 20px;
  margin-top: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .assigncollapse .card-body .component label, .assigncollapse .card-body .component legend {
    text-align: left;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .assigncollapse .card-body .component label, .assigncollapse .card-body .component legend {
    text-align: left;
  }
}

@media only screen and (max-width: 767px) {
  .assigncollapse .card-body .component label, .assigncollapse .card-body .component legend {
    text-align: left;
  }
}

.assigncollapse .card-body .component .showpic {
  width: 100%;
  height: 35px;
  padding: 0px;
}

.assigncollapse .card-body .component .showpic img {
  border-radius: 5px;
  width: 100%;
  height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}

.assigncollapse .card-body .component .vdate {
  background: #fff;
  cursor: pointer;
  padding: 0px;
  border-radius: 5px;
  width: 100%;
}

.assigncollapse .card-body .component .vdate .calendar {
  border: 1px solid #a5a5a5;
  border-radius: 3px;
  padding: 5px;
  width: 100%;
  font-size: 14px;
}

.assigncollapse .card-body .component .vdate .calendar input {
  width: 95%;
}

.assigncollapse .card-footer {
  border-bottom: .5px solid #ccc;
}

#assignModal .component .vdate {
  background: #fff;
  cursor: pointer;
  padding: 0px;
  border-radius: 5px;
  width: 100%;
}

#assignModal .component .vdate .calendar {
  border: 1px solid #a5a5a5;
  border-radius: 3px;
  padding: 5px;
  width: 100%;
  font-size: 14px;
}

#assignModal .component .vdate .calendar input {
  width: 95%;
}

#assignList {
  border: 1px solid #ccc;
}

#assignList .th {
  font-size: 17px;
  font-weight: 500;
  line-height: 50px;
  color: #325eaf;
  border-bottom: 3px solid #555555;
}

#assignList .td-odd {
  font-size: 16px;
  font-weight: 400;
  color: #5a5a5a;
  border-bottom: 1px solid #ccc;
  background-color: #eefaff;
  line-height: 45px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #assignList .td-odd {
    line-height: 30px;
  }
}

#assignList .td-even {
  font-size: 16px;
  font-weight: 400;
  color: #5a5a5a;
  border-bottom: 1px solid #ccc;
  background-color: #ffffff;
  line-height: 45px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #assignList .td-even {
    line-height: 30px;
  }
}

#picModal .modal-body #showMaxPic {
  width: 1000px;
  height: auto;
}

@media (max-width: 992px) {
  #assignList {
    border: none;
  }
  #assignList .th {
    display: none;
  }
  #assignList .tr {
    display: block;
    font-size: 15px;
    line-height: 40px;
    -webkit-box-shadow: 2px 2px 5px #ccc;
            box-shadow: 2px 2px 5px #ccc;
    margin-top: 20px;
    border-radius: 10px;
  }
  #assignList .tr:nth-child(odd) {
    border-left: 10px solid #5a5a5a;
    border-radius: 20px;
  }
  #assignList .tr:nth-child(even) {
    border-left: 10px solid #FFCC01;
    border-radius: 20px;
  }
  #assignList .tr .td {
    text-align: left;
    overflow: hidden;
    width: 100%;
    display: block;
    padding: 5px 0px;
    border: none;
  }
  #assignList .tr .td:before {
    /*最重要的就是這串*/
    content: attr(data-th) " : ";
    /*最重要的就是這串*/
    display: inline-block;
    text-transform: uppercase;
    width: 50%;
    font-weight: 400;
    margin-right: 10px;
    text-align: end;
    color: #325eaf;
  }
}

.filtercollapse .card-header {
  background-color: #D9EDF7;
  border-top: 2px solid #325eaf;
  padding: 3px 10px;
}

.filtercollapse .card-header .btn-collapse {
  color: #325eaf;
  width: 100%;
  outline-style: none;
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

.filtercollapse .btn-create {
  width: 120px;
  padding: 5px;
}

.filtercollapse .card-body {
  border-bottom: .5px solid #ccc;
}

.filtercollapse .card-body label, .filtercollapse .card-body legend {
  padding: 0px 10px 0px 0px;
  line-height: 20px;
  margin-top: 8px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .filtercollapse .card-body label, .filtercollapse .card-body legend {
    text-align: left;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .filtercollapse .card-body label, .filtercollapse .card-body legend {
    text-align: left;
  }
}

@media only screen and (max-width: 767px) {
  .filtercollapse .card-body label, .filtercollapse .card-body legend {
    text-align: left;
  }
}

.filtercollapse .card-body .vdate {
  background: #fff;
  cursor: pointer;
  padding: 0px;
  border-radius: 5px;
  width: 100%;
}

.filtercollapse .card-body .vdate .calendar {
  border: 1px solid #a5a5a5;
  border-radius: 3px;
  padding: 5px;
  width: 100%;
  font-size: 14px;
}

.filtercollapse .card-body .vdate .calendar input {
  width: 95%;
}

.filtercollapse .card-body .datepicker {
  border: none;
  width: 50%;
}

.filtercollapse .card-body .input-group-append {
  background-color: #ffffff;
}

.filtercollapse .card-body .card-footer {
  border-bottom: 1px solid #ccc;
}

.filtercollapse .card-footer {
  border-bottom: .5px solid #ccc;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #5a5a5a;
  color: #ffffff;
  border: #5a5a5a;
  font-weight: 300;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice span {
  color: #ffffff;
}

.select2-results__option[role="group"]:before {
  display: none;
}

.select2-results__option:before {
  content: "";
  display: inline-block;
  position: relative;
  height: 13px;
  width: 13px;
  border: 1px solid #7e7e7e;
  border-radius: 3px;
  background-color: #fff;
  margin-right: 10px;
  vertical-align: baseline;
}

.select2-results__option[aria-selected=true]:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f14a";
  font-size: 16px;
  color: #5093f7;
  background-color: transparent;
  border: 0;
  display: inline-block;
  border-radius: 3px;
  vertical-align: baseline;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #fff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #eaeaeb;
  color: #272727;
}

.select2-container--default .select2-selection--multiple {
  margin-bottom: 10px;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-radius: 4px;
}

.select2-selection .select2-selection--multiple:after {
  content: 'hhghgh';
}

.alink {
  font-size: 18px;
  color: #325eaf;
  font-family: "Noto Sans TC", sans-serif;
}

#scrollUp {
  background-color: #0f1112;
  border-radius: 0;
  bottom: 50px;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  line-height: 42px;
  right: 30px;
  text-align: center;
  width: 40px;
  border-radius: 0%;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

#scrollUp:hover, #scrollUp:focus {
  background-color: #62c9fcce;
  color: #ffffff;
}

@media only screen and (max-width: 767px) {
  #scrollUp {
    bottom: 30px;
    right: 30px;
    line-height: 32px;
    width: 30px;
    height: 30px;
  }
}

#wrapper #menu-laptop-toggle {
  position: absolute;
  right: 10px;
}

#color-sidebar {
  background-color: #343A40;
  border: none;
  -webkit-box-shadow: -1px 2px 5px 0px rgba(139, 139, 139, 0.849);
          box-shadow: -1px 2px 5px 0px rgba(139, 139, 139, 0.849);
  position: fixed;
  z-index: 999;
  top: 50px;
  right: 0;
  width: 12vw;
  height: 100vh;
  overflow: scroll;
  -webkit-transition: width .25s ease-out;
  -webkit-transition: width .25s ease-in-out;
  transition: width .25s ease-in-out;
}

#color-sidebar ul {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#color-sidebar ul p {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
}

#color-sidebar ul .custom-color1 {
  width: 45px;
  height: 25px;
  border-radius: 20px;
  margin: 5px;
  background-color: #fdd835;
}

#color-sidebar ul .custom-color2 {
  width: 45px;
  height: 25px;
  border-radius: 20px;
  margin: 5px;
  background-color: #d9d4cb;
}

#sidebar-wrapper {
  background-color: #343A40;
  border: none;
  -webkit-box-shadow: 2px 1px 5px 0px rgba(139, 139, 139, 0.849);
          box-shadow: 2px 1px 5px 0px rgba(139, 139, 139, 0.849);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 12vw;
  height: 100%;
  overflow: scroll;
  margin-left: 0vw;
  -webkit-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  margin-top: 0px;
  background: url("#") left top no-repeat;
  background-size: contain;
  width: 90%;
  height: 70px;
}

#sidebar-wrapper .dropdown .nav-link.active {
  background-color: #325eaf;
}

#sidebar-wrapper .dropdown-item .nav-link.active {
  background-color: #ccc;
}

#sidebar-wrapper ul {
  list-style-type: none;
}

#sidebar-wrapper ul li {
  position: relative;
  width: 100%;
  margin-left: 0px;
  line-height: 50px;
  color: white;
}

#sidebar-wrapper ul li .fa-icon {
  position: absolute;
  left: 15px;
  font-size: 20px;
  top: 15px;
}

#sidebar-wrapper ul li .fa-angle-down {
  position: absolute;
  right: 15px;
  top: 15px;
}

#sidebar-wrapper ul li a {
  font-size: 15px;
  width: 100%;
  padding: 10px;
  line-height: 30px;
  display: inline-block;
  padding-left: 40px;
  color: white;
}

#sidebar-wrapper ul li:hover {
  background-color: rgba(204, 204, 204, 0.315);
  cursor: pointer;
}

#sidebar-wrapper ul li ul {
  background-color: #ffffff;
  padding: 0px;
}

#sidebar-wrapper ul li ul li {
  padding: 0;
  width: 100%;
}

#sidebar-wrapper ul li ul li a {
  width: 100%;
  line-height: 30px;
  margin-left: 0px;
  padding-left: 30px;
  color: #5a5a5a;
}

#sidebar-wrapper ul li ul li a:hover {
  background-color: #cfcfcf;
}

@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
  #sidebar-wrapper {
    width: 15vw;
    height: 100%;
    overflow: scroll;
    margin-left: -15vw;
  }
}

.changColor {
  background-color: #8a8a8a;
}

.open {
  display: block;
}

#page-content-wrapper {
  margin-left: 12vw;
  width: 88vw;
}

@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
  #page-content-wrapper {
    width: 100vw;
    height: 100%;
    overflow: scroll;
    margin-left: 0vw;
  }
}

#page-content-wrapper nav {
  position: fixed;
  right: 0;
  margin-left: 12vw;
  width: 88vw;
  height: 50px;
  z-index: 100;
  background-color: #ffffff;
}

@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
  #page-content-wrapper nav {
    width: 100vw;
    margin-left: 0vw;
  }
}

#page-content-wrapper nav .logo {
  background: url("#") left center no-repeat;
  background-size: cover;
  width: 150px;
  height: 40px;
  display: none;
}

#page-content-wrapper nav .navbar-toggler {
  border: none;
}

#page-content-wrapper nav .navbar-toggler:focus {
  outline: 0;
}

#page-content-wrapper nav ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  right: 0;
  height: 50px;
}

@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
  #page-content-wrapper nav ul {
    display: block;
  }
}

#page-content-wrapper nav ul li {
  padding: 5px;
  display: block;
  line-height: 40px;
  width: 70px;
  text-align: center;
  cursor: pointer;
}

#page-content-wrapper nav ul li a {
  color: #5a5a5a;
}

#page-content-wrapper nav ul li ul {
  display: none;
}

#page-content-wrapper nav ul li:hover {
  color: #ffffff;
  background-color: #8a8a8a;
}

#page-content-wrapper nav ul li:hover a {
  color: #ffffff;
}

#page-content-wrapper nav ul li:hover ul {
  display: block;
  padding: 0;
  width: 100%;
  list-style: none;
}

#page-content-wrapper nav ul li:hover ul li {
  color: #5a5a5a;
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
  width: 100%;
  text-align: left;
}

#page-content-wrapper nav ul li:hover ul li .dropdown-menu2 {
  display: none;
}

#page-content-wrapper nav ul li:hover ul li:hover {
  color: #ffffff;
}

.openmenu #sidebar-wrapper {
  width: 50vw;
  margin-left: 0vw;
}

.openmenu #sidebar-wrapper .sidebar-heading {
  margin-top: 0px;
  background: url("#") left top no-repeat;
  background-size: contain;
  width: 300px;
  height: 70px;
}

.openmenu #sidebar-wrapper .navbar-nav li {
  position: relative;
  width: 100%;
  margin-left: 0px;
  line-height: 50px;
}

.openmenu #sidebar-wrapper .navbar-nav li .fa-icon {
  position: absolute;
  left: 15px;
  font-size: 20px;
  top: 15px;
}

.openmenu #sidebar-wrapper .navbar-nav li .fa-angle-down {
  position: absolute;
  right: 15px;
  top: 15px;
}

.openmenu #sidebar-wrapper .navbar-nav li a {
  color: #ffffff;
  font-size: 15px;
  width: 100%;
  padding: 5px;
  line-height: 30px;
  display: inline-block;
  margin-left: 40px;
}

.openmenu #sidebar-wrapper .navbar-nav li:hover {
  background-color: rgba(204, 204, 204, 0.315);
}

.openmenu #sidebar-wrapper .navbar-nav li i {
  color: #ffffff;
  position: absolute;
  right: 15px;
  top: 10px;
}

.openmenu #sidebar-wrapper .navbar-nav li:focus {
  background-color: #8a8a8a;
}

.openmenu #sidebar-wrapper .navbar-nav li ul {
  background-color: #ffffff;
  padding: 0;
}

.openmenu #sidebar-wrapper .navbar-nav li ul li {
  padding: 0;
  width: 100%;
}

.openmenu #sidebar-wrapper .navbar-nav li ul li a {
  width: 100%;
  color: #5a5a5a;
  line-height: 35px;
  margin-left: 0px;
}

.openmenu #sidebar-wrapper .navbar-nav li ul li a:hover {
  background-color: #8a8a8a;
  color: #ffffff;
}

@-webkit-keyframes fadeIn {
  from {
    margin-left: 100px;
  }
  to {
    margin-left: 10px;
  }
}

@keyframes fadeIn {
  from {
    margin-left: 100px;
  }
  to {
    margin-left: 10px;
  }
}

@-webkit-keyframes fadeIn2 {
  from {
    margin-left: 40px;
  }
  to {
    margin-left: 10px;
  }
}

@keyframes fadeIn2 {
  from {
    margin-left: 40px;
  }
  to {
    margin-left: 10px;
  }
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0vw;
  width: 5vw;
}

@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
  #wrapper.toggled #sidebar-wrapper {
    width: 15vw;
    height: 100%;
    overflow: scroll;
    margin-left: -15vw;
  }
}

#wrapper.toggled #sidebar-wrapper .sidebar-heading {
  margin-top: 0px;
  margin-left: 5px;
  background: url("#") left top no-repeat;
  background-size: cover;
  width: 50px;
  height: 70px;
}

#wrapper.toggled #sidebar-wrapper li {
  height: 50px;
}

#wrapper.toggled #sidebar-wrapper li:hover {
  background-color: rgba(34, 34, 34, 0.8);
}

#wrapper.toggled #sidebar-wrapper li a {
  margin-left: 0px;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  visibility: hidden;
  width: 0;
}

#wrapper.toggled #sidebar-wrapper li .fa-icon {
  -webkit-animation-name: fadeIn2;
          animation-name: fadeIn2;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  visibility: visible;
  margin-left: 12px;
  top: 20px;
}

#wrapper.toggled #sidebar-wrapper li .fa-angle-down {
  display: none;
}

#wrapper.toggled #page-content-wrapper {
  margin-left: 5vw;
  width: 95vw;
}

@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
  #wrapper.toggled #page-content-wrapper {
    width: 100vw;
    margin-left: 0vw;
  }
}

#wrapper.toggled #page-content-wrapper nav {
  margin-left: 5vw;
  width: 95vw;
}

#wrapper.toggled #page-content-wrapper nav .logo {
  display: none;
}

@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
  #wrapper.toggled #page-content-wrapper nav {
    width: 100vw;
    margin-left: 0vw;
  }
}

table.dataTable tbody th,
table.dataTable tbody td {
  color: #5a5a5a;
  padding: 15px 0px;
  border: none;
}

table.dataTable {
  background-color: #fff;
  border-left: 0.5px solid #cccccc;
  border-right: 0.5px solid #cccccc;
  text-align: center;
}

table.dataTable tfoot tr {
  border-top: 1px solid #2c7edb;
  line-height: 40px;
  color: #5a5a5a;
}

table.dataTable thead {
  width: 1000px;
}

table.dataTable thead tr {
  color: #2c7edb;
  font-size: 16px;
}

table.dataTable thead tr th {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  padding: 8px;
}

table.dataTable tbody td {
  outline: none;
  border-left: 1px solid rgba(134, 200, 238, 0.329);
  padding: 8px;
  line-height: 30px;
}

table.dataTable tbody tr {
  padding: 0px;
}

table.dataTable tbody tr .dateColor {
  color: #2c7edb;
  font-weight: 300;
}

table.dataTable tbody tr span {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 25px;
  padding: 5px;
}

table.dataTable tbody tr .btn {
  margin-right: 20px;
}

table.dataTable tbody .badge {
  background-color: #0b7e2d;
  width: 100%;
  height: 30px;
  border: none;
  font-weight: 300;
  color: #ffffff;
}

@media only screen and (min-width: 576px) and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  table.dataTable tbody .badge {
    width: 20%;
  }
}

.assignActive {
  background-color: #325eaf;
  color: #ffffff;
  display: inline-block;
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: none;
  text-align: center;
  padding: 5px;
}

#listDataTable_length, #assignDatatable, #listDataTable_paginate {
  margin-top: 20px;
}

#listDataTable .dataTables_scrollFoot, #assignDatatable .dataTables_scrollFoot, #listDataTable_wrapper .dataTables_scrollFoot {
  margin-bottom: 20px;
  width: 100%;
}

@media (max-width: 992px) {
  #listDataTable, #assignDatatable, #listDataTable_wrapper {
    border: none;
    /*針對tr去做隱藏*/
  }
  #listDataTable .table-rwd, #assignDatatable .table-rwd, #listDataTable_wrapper .table-rwd {
    min-width: 100%;
    background-color: transparent !important;
    border: none !important;
  }
  #listDataTable thead .tr-only-hide, #assignDatatable thead .tr-only-hide, #listDataTable_wrapper thead .tr-only-hide {
    display: none !important;
  }
  #listDataTable tbody, #assignDatatable tbody, #listDataTable_wrapper tbody {
    background-color: transparent;
    /*讓tr變成區塊主要讓他有個區塊*/
  }
  #listDataTable tbody tr, #assignDatatable tbody tr, #listDataTable_wrapper tbody tr {
    display: block;
    font-size: 15px;
    line-height: 15px;
    -webkit-box-shadow: 2px 2px 5px #ccc;
            box-shadow: 2px 2px 5px #ccc;
    margin-top: 20px;
    border-radius: 10px;
  }
  #listDataTable tbody tr:nth-child(odd), #assignDatatable tbody tr:nth-child(odd), #listDataTable_wrapper tbody tr:nth-child(odd) {
    border-left: 10px solid #5a5a5a;
    border-radius: 20px;
  }
  #listDataTable tbody tr:nth-child(even), #assignDatatable tbody tr:nth-child(even), #listDataTable_wrapper tbody tr:nth-child(even) {
    border-left: 10px solid #FFCC01;
    border-radius: 20px;
  }
  #listDataTable tbody tr .vcheckbox:before, #assignDatatable tbody tr .vcheckbox:before, #listDataTable_wrapper tbody tr .vcheckbox:before {
    display: none;
  }
  #listDataTable tbody tr td, #assignDatatable tbody tr td, #listDataTable_wrapper tbody tr td {
    text-align: left;
    overflow: hidden;
    width: 100%;
    display: block;
    padding: 5px 0px;
    border: none;
  }
  #listDataTable tbody tr td:before, #assignDatatable tbody tr td:before, #listDataTable_wrapper tbody tr td:before {
    /*最重要的就是這串*/
    content: attr(data-th) " : ";
    /*最重要的就是這串*/
    display: inline-block;
    text-transform: uppercase;
    width: 50%;
    font-weight: 400;
    margin-right: 10px;
    text-align: end;
    color: #325eaf;
  }
  #listDataTable tfoot, #assignDatatable tfoot, #listDataTable_wrapper tfoot {
    display: none !important;
  }
}

.assigncollapse .vcal, .servicecollapse .vcal {
  background-color: #fcf8cb;
  margin: 0 !important;
}

.assigncollapse .vcal h4, .assigncollapse .vcal h5, .servicecollapse .vcal h4, .servicecollapse .vcal h5 {
  line-height: 40px;
}

.assigncollapse .card-header, .servicecollapse .card-header {
  background-color: #D9EDF7;
  border-top: 2px solid #325eaf;
  padding: 3px 10px;
}

.assigncollapse .card-header .btn-collapse, .servicecollapse .card-header .btn-collapse {
  color: #325eaf;
  width: 100%;
  outline-style: none;
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

.assigncollapse .card-header .btn-create, .servicecollapse .card-header .btn-create {
  width: 150px;
}

.assigncollapse .card-body, .servicecollapse .card-body {
  border-bottom: .5px solid #ccc;
}

.assigncollapse .card-body label, .assigncollapse .card-body legend, .servicecollapse .card-body label, .servicecollapse .card-body legend {
  padding: 0px 10px 0px 0px;
  line-height: 20px;
  margin-top: 0px;
}

@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), only screen and (max-width: 767px) {
  .assigncollapse .card-body label, .assigncollapse .card-body legend, .servicecollapse .card-body label, .servicecollapse .card-body legend {
    text-align: left;
  }
}

.assigncollapse .card-body .vdate, .servicecollapse .card-body .vdate {
  background: #fff;
  cursor: pointer;
  padding: 0px;
  border-radius: 5px;
  width: 100%;
}

.assigncollapse .card-body .vdate .calendar, .servicecollapse .card-body .vdate .calendar {
  border: 1px solid #a5a5a5;
  border-radius: 3px;
  padding: 5px;
  width: 100%;
  font-size: 14px;
}

.assigncollapse .card-body .vdate .calendar input, .servicecollapse .card-body .vdate .calendar input {
  width: 95%;
}

.assigncollapse .card-footer, .servicecollapse .card-footer {
  border-bottom: .5px solid #ccc;
}

#fixItem, #custom {
  border: 1px solid #ccc;
}

#fixItem .th, #custom .th {
  font-size: 17px;
  font-weight: 500;
  line-height: 50px;
  color: #325eaf;
  border-bottom: 3px solid #555555;
  background-color: #dfdfdf;
}

#fixItem .td-odd, #custom .td-odd {
  font-size: 16px;
  font-weight: 400;
  color: #5a5a5a;
  border-bottom: 1px solid #ccc;
  background-color: #dfdfdf;
  line-height: 45px;
}

#fixItem .td-even, #custom .td-even {
  font-size: 16px;
  font-weight: 400;
  color: #5a5a5a;
  border-bottom: 1px solid #ccc;
  background-color: #dfdfdf;
  line-height: 45px;
}

#material legend {
  width: 100%;
  background-color: #3e88e9;
  line-height: 40px;
  color: #ffffff;
  font-size: 20px;
}

#material .ex {
  line-height: 35px;
}

#material #materialList {
  border: 1px solid #ccc;
}

#material #materialList .th {
  font-size: 17px;
  font-weight: 500;
  line-height: 50px;
  color: #325eaf;
  border-bottom: 3px solid #555555;
}

#material #materialList .td-odd {
  font-size: 16px;
  font-weight: 400;
  color: #5a5a5a;
  border-bottom: 1px solid #ccc;
  background-color: #eefaff;
  line-height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#material #materialList .td-even {
  font-size: 16px;
  font-weight: 400;
  color: #5a5a5a;
  border-bottom: 1px solid #ccc;
  background-color: #ffffff;
  line-height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#material #materialList .vcheckbox {
  height: 35px;
  font-size: 18px;
  margin: 0 auto;
  position: relative;
}

#material #materialList .vcheckbox .form-check-input {
  position: absolute;
  top: 10px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  #material #materialList .vcheckbox {
    height: 35px;
    width: 100%;
    font-size: 18px;
    position: relative;
  }
  #material #materialList .vcheckbox .form-check-input {
    position: absolute;
    top: 12px;
    left: 20%;
    margin: 0 auto;
  }
}

#material #materialList .total {
  background-color: #d4ebf1;
  border-top: 1px solid #0a5a9b;
}

#material #materialList .total .td {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  line-height: 40px;
}

@media (max-width: 992px) {
  #fixItem {
    border: none;
  }
  #fixItem .th {
    display: none;
  }
  #fixItem .tr {
    display: block;
    font-size: 15px;
    line-height: 40px;
    -webkit-box-shadow: 2px 2px 5px #ccc;
            box-shadow: 2px 2px 5px #ccc;
    margin-top: 20px;
    border-radius: 10px;
  }
  #fixItem .tr:nth-child(odd) {
    border-left: 10px solid #5a5a5a;
    border-radius: 20px;
  }
  #fixItem .tr:nth-child(even) {
    border-left: 10px solid #FFCC01;
    border-radius: 20px;
  }
  #fixItem .tr .td {
    text-align: left;
    overflow: hidden;
    width: 100%;
    display: block;
    padding: 5px 0px;
    border: none;
  }
  #fixItem .tr .td:before {
    /*最重要的就是這串*/
    content: attr(data-th) " : ";
    /*最重要的就是這串*/
    display: inline-block;
    text-transform: uppercase;
    width: 50%;
    font-weight: 400;
    margin-left: 10px;
    text-align: end;
    color: #325eaf;
  }
  #materialList {
    border: none !important;
  }
  #materialList .th {
    display: none;
  }
  #materialList .tr {
    padding: 5px;
    display: block;
    font-size: 15px;
    line-height: 40px;
    -webkit-box-shadow: 2px 2px 5px #ccc;
            box-shadow: 2px 2px 5px #ccc;
    margin-top: 20px;
    border-radius: 10px;
  }
  #materialList .tr:nth-child(odd) {
    border-left: 10px solid #5a5a5a;
    border-radius: 20px;
  }
  #materialList .tr:nth-child(even) {
    border-left: 10px solid #FFCC01;
    border-radius: 20px;
  }
  #materialList .tr .td {
    text-align: left;
    overflow: hidden;
    width: 100%;
    display: block;
    padding: 5px 0px;
    border: none;
  }
  #materialList .tr .td:before {
    /*最重要的就是這串*/
    content: attr(data-th) " : ";
    /*最重要的就是這串*/
    display: inline-block;
    text-transform: uppercase;
    width: 50%;
    font-weight: 400;
    margin-left: 10px;
    text-align: start;
    color: #325eaf;
  }
  #materialList .total {
    padding: 0px 5px;
    display: block;
    font-size: 15px;
    line-height: 40px;
    -webkit-box-shadow: 2px 2px 5px #ccc;
            box-shadow: 2px 2px 5px #ccc;
    margin-top: 10px;
    border-radius: 10px;
    height: 100px;
  }
  #materialList .total:nth-child(odd) {
    border-left: 10px solid #5a5a5a;
    border-radius: 20px;
  }
  #materialList .total .td {
    text-align: left;
    width: 100%;
    display: block;
    padding: 10px 0px;
    border: none;
  }
  #materialList .total .td:before {
    /*最重要的就是這串*/
    content: attr(data-th) " : ";
    /*最重要的就是這串*/
    display: inline-block;
    text-transform: uppercase;
    width: 50%;
    font-weight: 400;
    margin-left: 10px;
    text-align: start;
    color: #325eaf;
  }
}

.sign {
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-footer .signButton {
  margin: 0 auto;
}

.signName {
  width: 100%;
  height: 110px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signName #redraw {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card-calendar {
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 1px 2px 5px #88888869;
          box-shadow: 1px 2px 5px #88888869;
  width: 100%;
  height: 500px;
  margin-top: 50px;
  padding: 10px;
}

@media (max-width: 900px) {
  .card-calendar {
    height: auto;
  }
}

#calendar {
  display: block;
  table-layout: auto;
  width: 100%;
  height: 470px;
  overflow: scroll;
}

#calendar a {
  color: #8e352e;
  text-decoration: none;
}

#calendar thead .weekdays th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 10%;
  height: 40px;
  background: #8e352e;
  font-weight: 400;
  color: #ffffff;
  border: 1px solid #8a1919;
  text-align: center;
}

#calendar thead .weekdays th .box {
  display: inline-block;
  width: 120px;
}

#calendar tbody {
  width: 100%;
  height: 300px;
}

#calendar tbody td {
  width: 400px;
  height: 150px;
  border: 1px solid #ccc;
}

#calendar .event {
  clear: both;
  display: block;
  font-size: 13px;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 5px;
  line-height: 14px;
  background: #e4f2f2;
  border: 1px solid #b5dbdc;
  color: #009aaf;
  text-decoration: none;
}

#calendar .event_danger {
  clear: both;
  display: block;
  font-size: 13px;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 5px;
  line-height: 20px;
  background: #ffedbd;
  border: 1px solid #ffc163;
  color: #fa4f00;
  text-decoration: none;
}

#calendar .event-time {
  color: #325eaf;
  line-height: 25px;
}

#member {
  width: 100%;
  margin-top: 40px;
  height: 430px;
  overflow-y: hidden;
}

#member .members {
  width: 100%;
  height: 130px;
  border-radius: 3px;
  padding: 10px;
  background-color: #f5f5f5;
  margin-top: 20px;
  -webkit-box-shadow: 1px 2px 2px #8888883b;
          box-shadow: 1px 2px 2px #8888883b;
}

#member .members:nth-child(odd) {
  border-left: 5px solid #325eaf;
}

#member .members:nth-child(even) {
  border-left: 5px solid #2c7edb;
}

#member .members p {
  line-height: 30px;
  margin: 0px;
}

#member .members:hover {
  background-color: #e4f3ff;
}

/* ============================
				Mobile Responsiveness
   ============================*/
@media (max-width: 900px) {
  #calendar {
    height: 360px;
  }
  #calendar th {
    height: auto !important;
    border: 1px solid #ededed;
    width: 100%;
    padding: 10px;
    margin-bottom: -1px;
  }
  #member {
    height: 330px;
    margin-top: 35px;
  }
}

@media (max-width: 900px) {
  /*針對tr去做隱藏*/
  #schedulelist {
    background-color: transparent;
    border: none;
  }
  #schedulelist .table-rwd {
    width: 100%;
  }
  #schedulelist thead .tr-only-hide {
    display: none;
  }
  #schedulelist tbody {
    background-color: transparent;
    /*讓tr變成區塊主要讓他有個區塊*/
  }
  #schedulelist tbody tr {
    display: block;
    font-size: 15px;
    line-height: 15px;
    border: 1px solid #ccc;
    -webkit-box-shadow: 2px 2px 5px #ccc;
            box-shadow: 2px 2px 5px #ccc;
    margin-top: 20px;
    border-radius: 10px;
  }
  #schedulelist tbody tr:nth-child(odd) {
    border-left: 10px solid #5a5a5a;
    border-radius: 20px;
  }
  #schedulelist tbody tr:nth-child(even) {
    border-left: 10px solid #FFCC01;
    border-radius: 20px;
  }
  #schedulelist tbody tr .vcheckbox {
    width: 100% !important;
  }
  #schedulelist tbody tr .vcheckbox:before {
    display: none;
  }
  #schedulelist tbody tr td {
    text-align: left;
    overflow: hidden;
    width: 100%;
    display: block;
    padding: 5px 0px;
    border: none !important;
  }
  #schedulelist tbody tr td:before {
    /*最重要的就是這串*/
    content: attr(data-th) " : ";
    /*最重要的就是這串*/
    display: inline-block;
    text-transform: uppercase;
    width: 50%;
    font-weight: 400;
    margin-right: 10px;
    text-align: end;
    color: #325eaf;
  }
}

#color-sidebar.toggled {
  z-index: 999;
  bottom: 0;
  right: 0;
  width: 15vw;
  height: 95%;
  overflow: scroll;
}

#sidebar-wrapper.color1 {
  background-color: #9e9e9e;
}

#sidebar-wrapper.color1 ul li a {
  color: #212121;
}

#sidebar-wrapper.color1 ul li:focus {
  background-color: #ffff6b;
}

#sidebar-wrapper.color1 ul li ul li a {
  color: #5a5a5a;
}

#sidebar-wrapper.color1 ul li ul li a:hover {
  background-color: #cfcfcf;
  color: #5a5a5a;
}

#sidebar-wrapper.color2 {
  background-color: #d9d4cb;
}

#sidebar-wrapper.color2 ul li a {
  color: #212121;
}

#sidebar-wrapper.color2 ul li:focus {
  background-color: #ffff6b;
}

#sidebar-wrapper.color2 ul li ul li a {
  color: #5a5a5a;
}

#sidebar-wrapper.color2 ul li ul li a:hover {
  background-color: #cfcfcf;
  color: #5a5a5a;
}
/*# sourceMappingURL=style.css.map */