@charset "UTF-8";
/* Plugins Master Stylesheet */
@import url("../plugins/bootstrap-5.0.0-dist/css/bootstrap-reboot.min.css");
@import url("../plugins/bootstrap-5.0.0-dist/css/bootstrap.min.css");
@import url("../plugins/fontawesome-free-5.15.4/css/all.min.css");
@import url("../plugins/select2-4.0.13/css/select2.min.css");
@import url("../plugins/select2-4.0.13/css/multiple-select.min.css");
@import url("../plugins/DataTables-1.10.25/datatables.min.css");
@import url("../plugins/DataTables-1.10.25/Responsive-2.2.9/css/responsive.bootstrap5.min.css");
@import url("../plugins/DataTables-1.10.25/Responsive-2.2.9/css/responsive.bootstrap.min.css");
@import url("../plugins/daterangepicker-3.0.5/daterangepicker.css");
@import url("../plugins/jquery/jquery-ui.min.css");
@import url("../plugins/Magicsuggest/css/magicsuggest.css");
@import url("../plugins/OrgChart-master/src/css/jquery.orgchart.css");
@import url("../plugins/jquery-monthpicker/MonthPicker.min.css");
/* :: 1.0 Import Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.primary {
  color: #6DAFFE;
}

.bg_primary {
  background-color: #6DAFFE;
}

.secondary {
  color: #437FC7;
}

.bg_secondary {
  background-color: #437FC7;
}

.third {
  color: #708ba5;
}

.bg_third {
  background-color: #708ba5;
}

.subtitle {
  color: #A7A7A7;
}

.important {
  color: #2452a7;
}

.bg_important {
  background-color: #2452a7;
}

.text {
  color: #505c62;
}

.gray {
  color: #A7A7A7;
}

.bg {
  background-color: #edf6ff;
}

.lightBlue {
  color: #edf6ff;
}

.white {
  color: #ffffff;
}

.bg-lightGray {
  background-color: #E9EEF2;
}

.dark {
  color: #303030;
}

.hover {
  color: #313994;
}

.bg_hover {
  background-color: #313994;
}

.purple {
  color: #88157b;
}

.bg_purple {
  background-color: #88157b;
}

.pink {
  color: #d31577;
}

.bg_gradient {
  background: -webkit-gradient(linear, right top, left top, from(#113E9A), to(#52B0DD));
  background: linear-gradient(to left, #113E9A, #52B0DD);
}

.fontsEn {
  font-family: "Urbanist", sans-serif;
}

.f-300 {
  font-weight: 300;
}

.f-400 {
  font-weight: 400;
}

.f-500 {
  font-weight: 500;
}

.fz-12 {
  font-size: 12px;
}

.fz-13 {
  font-size: 13px;
}

.fz-15 {
  font-size: 15px;
}

.fz-20 {
  font-size: 20px;
}

.fz-25 {
  font-size: 25px;
}

.fz-30 {
  font-size: 30px;
}

.lh-15 {
  line-height: 15px;
}

.lh-20 {
  line-height: 20px;
}

.lh-30 {
  line-height: 30px;
}

.lh-40 {
  line-height: 40px;
}

.lh-50 {
  line-height: 50px;
}

.lh-70 {
  line-height: 70px;
}

.card-Title {
  color: #6DAFFE;
}

.card-Subtitle {
  color: #2452a7;
  line-height: 30px;
}

.card-link {
  color: #6DAFFE;
}

.modal-body {
  line-height: 22px;
  font-size: 18px;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-50 {
  padding: 50px !important;
}

.pb-70 {
  padding-bottom: 70px !important;
}

.px-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.pt-30 {
  padding-top: 30px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-100 {
  padding-top: 100px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.border-b {
  border-bottom: 1px solid #000;
}

.border-t {
  border-top: 3px solid #000;
}

.border-blue {
  border-color: #313994;
}

.border-purple {
  border-color: #88157b;
}

.border-pink {
  border-color: #d31577;
}

.border-right {
  border-right: 1px white solid;
}

@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), only screen and (max-width: 767px) {
  .border-right {
    border-right: 0px;
  }
}

.btn-search {
  height: 35px;
  line-height: 30px;
  min-width: auto;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  margin: 0px 5px;
  background-color: #7C8AA1;
  color: #ffffff;
}

.btn-search:hover {
  background-color: #525e70;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.btn-search:focus {
  font-size: 16px;
  font-weight: 400;
}

.btn-edit {
  height: 35px;
  line-height: 30px;
  min-width: auto;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  margin: 0px 5px;
  background-color: #437FC7;
  color: #ffffff;
}

.btn-edit:hover {
  background-color: #313994;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.btn-edit:focus {
  font-size: 16px;
  font-weight: 400;
}

.btn-delete {
  height: 35px;
  line-height: 30px;
  min-width: auto;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  margin: 0px 5px;
  background-color: #e43d27;
  color: #ffffff;
}

.btn-delete:hover {
  background-color: #8d1414;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.btn-delete:focus {
  font-size: 16px;
  font-weight: 400;
}

.btn-padding {
  height: 35px;
  line-height: 30px;
  min-width: auto;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  margin: 0px 5px;
  background-color: #16abb6;
  color: #ffffff;
}

.btn-padding:hover {
  background-color: #10767e;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.btn-padding:focus {
  font-size: 16px;
  font-weight: 400;
}

.btn-cal {
  height: 35px;
  line-height: 30px;
  min-width: auto;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  margin: 0px 5px;
  background-color: #437FC7;
  color: #ffffff;
  width: 35px;
  height: 35px;
}

.btn-cal:hover {
  background-color: #437FC7;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.btn-cal:focus {
  font-size: 16px;
  font-weight: 400;
}

.btn-more {
  padding: 10px 30px;
  background-color: #505c62;
  color: #ffffff;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  border-radius: 8px;
}

.btn-more:hover {
  background-color: #ffffff;
  border: 1px solid #505c62;
  color: #505c62;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(197, 197, 197, 0.5);
          box-shadow: 0px 3px 8px 0px rgba(197, 197, 197, 0.5);
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.btn-more:focus {
  background-color: #ffffff;
  border: 1px solid #505c62;
  color: #505c62;
}

.btn-more2 {
  padding: 10px 30px;
  background-color: #ffffff;
  color: #2452a7;
  border: 1px solid #2452a7;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.btn-more2:hover {
  background-color: #2452a7;
  color: #ffffff;
  border: none;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(197, 197, 197, 0.5);
          box-shadow: 0px 3px 8px 0px rgba(197, 197, 197, 0.5);
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.btn-menu {
  width: 100%;
  height: 55px;
  background-color: #F3F3F3;
  border-radius: 8px;
  line-height: 20px;
  color: #505c62;
  font-size: 16px;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  word-break: normal;
  word-wrap: normal;
  text-align: left;
}

.btn-menu .fas {
  text-align: right;
  padding-right: 0px;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.btn-menu:hover {
  padding-left: 20px;
}

.btn-menu:hover {
  color: #ffffff;
  background-color: #6DAFFE;
}

.btn-menu:hover .fas {
  padding-right: 20px;
  color: #ffffff;
}

.btn-link {
  width: 100%;
  height: 40px;
  background-color: #437FC7;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.btn-link:hover {
  background-color: #ffffff;
  color: #437FC7;
  border-color: #437FC7;
}

button {
  outline-style: none;
}

.cursor {
  cursor: pointer;
}

.pill-success {
  background-color: green;
  color: white;
  border-radius: 20px;
  padding: 2px 10px;
}

.pill-danger {
  background-color: #af1919;
  color: white;
  border-radius: 20px;
  padding: 2px 10px;
}

.pill-approval {
  background-color: #6DAFFE;
  color: white;
  border-radius: 20px;
  padding: 2px 10px;
}

.pill-draft {
  background-color: RGB(245, 199, 29);
  color: white;
  border-radius: 20px;
  padding: 2px 10px;
}

.img-circle {
  border-radius: 50%;
}

.img-fluid {
  width: 100%;
  height: 100%;
  padding: 0px;
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center center;
}

.img-sm {
  width: 80%;
  height: 80%;
  padding: 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 767px) {
  .img-sm {
    width: 30%;
    height: 30%;
  }
}

.InputArea .card {
  padding: 0px;
}

.InputArea .card .card-header {
  background-color: brown;
  color: #ffffff;
}

.InputArea .card .card-body {
  min-height: 300px !important;
}

.in-redline {
  border: 1px solid red !important;
}

.SelectArea .card {
  padding: 0px;
}

.SelectArea .card-header {
  background-color: #437FC7;
  color: #ffffff;
}

.SelectArea .card-body {
  min-height: 300px !important;
}

.SelectArea .search {
  background-color: #ffffff !important;
}

.SelectArea .dropdown-menu {
  left: 0;
}

.checkBoxArea .checkbox_ex1[type=checkbox] {
  -webkit-appearance: none;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  padding: 3px;
  margin-right: 2px;
  border: 1px solid #e24343;
  color: #444;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* 防止文字被滑鼠選取反白 */
  position: relative;
}

.checkBoxArea .checkbox_ex1[type=checkbox]:checked {
  color: white;
  display: inline-block;
  background-color: #e24343;
}

.checkBoxArea .radio_ex1[type=radio] {
  -webkit-appearance: none;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  padding: 3px;
  margin-right: 2px;
  border: 1px solid #e24343;
  color: #444;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* 防止文字被滑鼠選取反白 */
  position: relative;
}

.checkBoxArea .radio_ex1[type=radio]:checked {
  color: white;
  display: inline-block;
  background-color: #e24343;
}

.TableArea .card-header {
  background-color: #4f1296;
  color: #ffffff;
}

.TableArea .card-body {
  min-height: 300px !important;
}

.TableArea .table-Hover td, .TableArea .table-Hover th {
  border-top: 1px solid #9bb1db;
}

.TableArea .table-Hover tbody tr:hover {
  background-color: #fdd830 !important;
}

.TableArea .table-Hover tbody tr:nth-child(odd) {
  background-color: #eaf5fc;
}

.TableArea .datatable-RWD {
  text-align: left;
}

.TableArea .datatable-RWD tbody .dtr-title {
  text-align: left;
}

.ChartArea .card {
  padding: 0px;
}

.ChartArea .card-header {
  background-color: #00a6c4;
  color: #ffffff;
}

.ChartArea .card-body .Chart {
  margin: 0 auto;
  text-align: center;
}

.ChartArea .card-body .Chart thead {
  background-color: #ccc;
  line-height: 15px;
}

.open {
  display: block;
}

#wrapper #menu-laptop-toggle {
  position: absolute;
  right: 10px;
}

#sidebar-wrapper, #wrapper::-webkit-scrollbar {
  display: none;
}

#sidebar-wrapper {
  height: 100%;
  overflow-x: hidden;
  background-color: #edf6ff;
  border: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 16vw;
  min-width: auto !important;
  height: 100%;
  margin-left: 0vw;
  -webkit-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .side_logo {
  margin: 0 auto;
  width: 80%;
  height: 40px;
}

#sidebar-wrapper ul {
  list-style-type: none;
  width: auto;
}

#sidebar-wrapper ul li {
  position: relative;
  padding: 5px;
  margin-left: 0px;
  width: auto;
  white-space: nowrap;
}

#sidebar-wrapper ul li .fa-icon {
  position: absolute;
  left: 15px;
  font-size: 20px;
  top: 17px;
}

#sidebar-wrapper ul li .fa-angle-down {
  position: absolute;
  right: 15px;
  top: 20px;
}

#sidebar-wrapper ul li a {
  text-align: left;
  font-size: 15px;
  border-radius: 3px;
  line-height: 30px;
  padding-left: 20px;
  color: #303030;
}

#sidebar-wrapper ul li a:hover {
  background-color: #8dcce7;
  color: #ffffff;
  cursor: pointer;
}

#sidebar-wrapper ul li ul {
  background-color: #ffffff;
  padding: 0px;
  width: auto;
  border-radius: 5px;
}

#sidebar-wrapper ul li ul li {
  padding: 0px;
  width: auto;
  white-space: normal;
  text-overflow: ellipsis;
}

#sidebar-wrapper ul li ul li a {
  display: block;
  line-height: 50px;
  margin-left: 0px;
  color: #505c62;
  text-align: left;
  padding-left: 20px;
}

#sidebar-wrapper ul li ul li a:hover {
  background-color: #ebebeb;
  color: #505c62;
}

@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px) {
  #sidebar-wrapper {
    width: 15vw;
    height: 100%;
    overflow: scroll;
    margin-left: -15vw;
  }
}

#page-content-wrapper {
  margin-left: 16vw;
  margin-top: 50px;
  width: 84vw;
  height: 100vh;
}

@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
  #page-content-wrapper {
    width: 100vw;
    height: 100%;
    overflow: scroll;
    margin-left: 0vw;
  }
}

#page-content-wrapper .navbar {
  position: fixed;
  right: 0;
  top: 0;
  margin-left: 20vw;
  width: 84vw;
  height: 50px;
  z-index: 100;
  background-color: #ffffff;
}

@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px) {
  #page-content-wrapper .navbar {
    width: 100vw;
    margin-left: 0vw;
  }
}

#page-content-wrapper .navbar .logo {
  background: url("../public/img/logo.png") left center no-repeat;
  background-size: cover;
  width: 150px;
  height: 40px;
  display: none;
}

#page-content-wrapper .navbar .navbar-toggler {
  border: none;
}

#page-content-wrapper .navbar .navbar-toggler:focus {
  outline: 0;
}

#page-content-wrapper .navbar ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 50px;
}

@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
  #page-content-wrapper .navbar ul {
    display: block;
  }
}

#page-content-wrapper .navbar ul li {
  padding: 5px;
  display: block;
  line-height: 40px;
  margin: 0px 20px;
  text-align: center;
  cursor: pointer;
}

#page-content-wrapper .navbar ul li a {
  color: #505c62 !important;
}

#page-content-wrapper .navbar ul li ul {
  display: none;
}

#page-content-wrapper .navbar ul li:hover {
  color: #6DAFFE;
}

#page-content-wrapper .navbar ul li:hover ul {
  display: block;
  padding: 0;
  width: 100%;
  list-style: none;
  height: auto;
}

#page-content-wrapper .navbar ul li:hover ul li {
  color: #505c62;
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
  width: 100%;
  text-align: left;
  margin: 0px;
}

#page-content-wrapper .navbar ul li:hover ul li:hover {
  color: #505c62;
  background-color: #edf6ff;
}

.openmenu #sidebar-wrapper {
  width: 50vw;
  margin-left: 0vw;
}

.openmenu #sidebar-wrapper .side_logo {
  width: 100%;
}

.openmenu #sidebar-wrapper .navbar-nav li {
  position: relative;
  width: 100%;
  margin-left: 0px;
}

.openmenu #sidebar-wrapper .navbar-nav li .fa-icon {
  position: absolute;
  left: 15px;
  font-size: 20px;
  top: 19px;
}

.openmenu #sidebar-wrapper .navbar-nav li .fa-angle-down {
  position: absolute;
  right: 15px;
  top: 20px;
}

.openmenu #sidebar-wrapper .navbar-nav li a {
  color: #505c62;
  font-size: 15px;
  width: 100%;
  padding: 5px;
  line-height: 30px;
  display: inline-block;
  padding-left: 40px;
}

.openmenu #sidebar-wrapper .navbar-nav li i {
  position: absolute;
  right: 15px;
  top: 10px;
}

.openmenu #sidebar-wrapper .navbar-nav li:focus {
  background-color: #646464;
}

.openmenu #sidebar-wrapper .navbar-nav li ul {
  background-color: #ffffff;
  padding: 0;
}

.openmenu #sidebar-wrapper .navbar-nav li ul li {
  padding: 0;
  width: 100%;
}

.openmenu #sidebar-wrapper .navbar-nav li ul li a {
  width: 100%;
  color: #505c62;
  line-height: 35px;
  margin-left: 0px;
}

.openmenu #sidebar-wrapper .navbar-nav li ul li a:hover {
  color: #ffffff;
}

@-webkit-keyframes fadeIn {
  from {
    margin-left: 100px;
  }
  to {
    margin-left: 10px;
  }
}

@keyframes fadeIn {
  from {
    margin-left: 100px;
  }
  to {
    margin-left: 10px;
  }
}

@-webkit-keyframes fadeIn2 {
  from {
    margin-left: 40px;
  }
  to {
    margin-left: 10px;
  }
}

@keyframes fadeIn2 {
  from {
    margin-left: 40px;
  }
  to {
    margin-left: 10px;
  }
}

.changColor {
  background-color: #437FC7;
  color: #ffffff !important;
}

.onPage {
  background-color: #dde2e9;
  color: #ffffff;
}

.activePage {
  background-color: #6DAFFE;
  color: #ffffff !important;
}

.active {
  color: #313994;
}

.main-sidebar {
  background-color: #546D92;
}

.main-sidebar .nav-sidebar .nav-item.menu-open .nav-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.main-sidebar .nav-sidebar .nav-item:hover .nav-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.main-sidebar .nav-sidebar .nav-item:focus {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.main-sidebar .nav-sidebar .nav-item .nav-link .nav-icon, .main-sidebar .nav-sidebar .nav-item .nav-link p {
  color: #ffffff;
}

.main-sidebar .nav-sidebar .nav-item .nav-link.active {
  background-color: #2452a7;
}

.main-sidebar .nav-sidebar .nav-item .nav-link.active .nav-icon, .main-sidebar .nav-sidebar .nav-item .nav-link.active p {
  color: #ffffff;
}

.main-sidebar .nav-sidebar .nav-item .nav-treeview .nav-item .nav-link {
  background-color: #546D92;
}

.main-sidebar .nav-sidebar .nav-item .nav-treeview .nav-item .nav-link.active {
  background-color: #E6EEF3;
}

.main-sidebar .nav-sidebar .nav-item .nav-treeview .nav-item .nav-link.active .nav-icon, .main-sidebar .nav-sidebar .nav-item .nav-treeview .nav-item .nav-link.active p {
  color: #505c62;
}

.main-sidebar .nav-sidebar .nav-item .nav-treeview .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.main-sidebar .nav-sidebar .nav-item .nav-treeview .nav-item .nav-link:hover .nav-icon, .main-sidebar .nav-sidebar .nav-item .nav-treeview .nav-item .nav-link:hover p {
  color: #ffffff;
}

.card {
  -webkit-box-shadow: 1px 1px 3px 1px rgba(197, 197, 197, 0.37);
          box-shadow: 1px 1px 3px 1px rgba(197, 197, 197, 0.37);
  border-radius: 5px;
  padding: 10px;
}

.card:hover {
  border: 0px;
  -webkit-box-shadow: 1px 1px 20px 7px rgba(197, 197, 197, 0.336);
          box-shadow: 1px 1px 20px 7px rgba(197, 197, 197, 0.336);
}

.card .card-footer {
  min-height: 50px;
}

.card-noShadow {
  border-radius: 10px;
  padding: 20px;
}

.card-radius {
  border-radius: 5px;
  padding: 5px;
  height: 100%;
  background-color: #fff;
}

.card-radius .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.card-border {
  border-radius: 2px;
  padding: 5px;
  height: inherit;
  border: 1px solid #cecece;
}

.card-border:hover {
  border: 0px;
  -webkit-box-shadow: 1px 1px 20px 7px rgba(197, 197, 197, 0.336);
          box-shadow: 1px 1px 20px 7px rgba(197, 197, 197, 0.336);
}

.card-border .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/* effect #2 */
.bg-blue30 {
  background-color: #edf6ff;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  z-index: 1;
  color: #000;
}

.bg-blue30 h5 {
  color: #000;
  padding: 0px;
}

.bg-blue30 p {
  color: #000;
  font-size: 14px;
}

.bg-blue40 {
  background-color: #6DAFFE;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  z-index: 1;
  color: #000;
}

.bg-blue40 h5 {
  color: #000;
  padding: 0px;
}

.bg-blue40 p {
  color: #000;
  font-size: 14px;
}

.bg-blue50 {
  background-color: #437FC7;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  z-index: 1;
  color: #000;
}

.bg-blue50 h5 {
  color: #000;
  padding: 0px;
}

.bg-blue50 p {
  color: #000;
  font-size: 14px;
}

.circle-sm {
  width: 40px;
  height: 40px;
}

table.dataTable tbody th,
table.dataTable tbody td {
  color: #505c62;
  padding: 15px 0px;
}

table.dataTable {
  background-color: #fff;
  text-align: center;
  border: 1px solid #cccccc;
}

table.dataTable thead {
  width: 100%;
}

table.dataTable thead tr {
  color: #437FC7;
  font-size: 16px;
}

table.dataTable thead tr th {
  border-bottom: 1px solid #e0e0e0;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  padding: 8px;
  vertical-align: middle;
  line-height: 20px;
  white-space: nowrap;
}

table.dataTable tbody tr {
  padding: 0px;
  border: 1px solid rgba(134, 200, 238, 0.329);
}

table.dataTable tbody tr .dateColor {
  color: #437FC7;
  font-weight: 300;
}

table.dataTable tbody tr td {
  vertical-align: middle;
  outline: none;
  padding: 8px;
  white-space: nowrap;
  text-align: center;
}

table.dataTable tbody tr:nth-child(odd) {
  background-color: #eaf5fc !important;
}

table.dataTable tfoot tr {
  border-top: 1px solid #437FC7;
  color: #505c62;
}

table.dataTable .assignActive {
  background-color: #6DAFFE;
  color: #ffffff;
  display: inline-block;
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: none;
  text-align: center;
  padding: 5px;
}

.dataTables_wrapper {
  margin-top: 10px;
}

.InlineMenu {
  margin: 0 auto;
  text-align: center;
}

.ui-widget.ui-widget-content {
  background-color: #eeeeee;
  border-radius: 20px;
  width: 60%;
  -webkit-box-shadow: 1px 1px 5px 2px rgba(197, 197, 197, 0.486);
          box-shadow: 1px 1px 5px 2px rgba(197, 197, 197, 0.486);
}

.month-picker-header {
  border-radius: 20px 20px 0px 0px;
  background-color: transparent;
}

.month-picker-header .month-picker-year-table {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.month-picker-header .month-picker-year-table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.month-picker-header .month-picker-year-table .ui-button {
  font-family: 'Urbanist', sans-serif;
  font-size: 18px;
  background-color: transparent;
}

.month-picker-header .month-picker-year-table .month-picker-previous {
  position: relative;
}

.month-picker-header .month-picker-year-table .month-picker-previous .ui-button:hover {
  color: #6DAFFE;
  background-color: white;
  border: none !important;
  cursor: pointer;
}

.month-picker-header .month-picker-year-table .month-picker-previous .ui-icon {
  position: absolute;
  right: 30%;
  top: 40%;
}

.month-picker-header .month-picker-year-table .month-picker-next {
  position: relative;
}

.month-picker-header .month-picker-year-table .month-picker-next .ui-button:hover {
  color: #6DAFFE;
  background-color: white;
  border: none !important;
  cursor: pointer;
}

.month-picker-header .month-picker-year-table .month-picker-next .ui-icon {
  position: absolute;
  left: 30%;
  top: 40%;
}

.month-picker-header .month-picker-year-table .month-picker-title {
  height: 30px;
}

.month-picker-header .month-picker-year-table .month-picker-title .ui-button {
  padding: 0px 50px;
  line-height: 30px;
  color: #437FC7;
}

.month-picker-header .month-picker-year-table .month-picker-title .ui-button:hover {
  color: #6DAFFE;
  border: none !important;
  cursor: pointer;
}

.month-picker-month-table {
  padding: 10px 5px;
  margin: 0 auto;
}

.month-picker-month-table td {
  padding: 0px 8px;
}

.month-picker-month-table td .ui-button {
  padding: 10px;
  line-height: 35px;
  font-family: 'Urbanist', sans-serif;
  font-size: 16px;
  background-color: #FFF;
  border: none;
  color: #000;
}

.month-picker-month-table td .ui-button:hover {
  background-color: #6DAFFE;
  color: white;
  border: none;
}

.ui-corner-all {
  border: none;
}

.ui-corner-all:active {
  border: none;
}

.ui-state-highlight {
  color: #ffffff !important;
  background-color: #505c62   !important;
  width: 30px;
  text-align: center;
  margin: 0 auto;
}

.ui-state-active {
  background-color: #6DAFFE !important;
  color: #ffffff !important;
  border: none;
}

.calendar .eventList {
  list-style: disc;
  width: 50%;
  padding: 5px;
}

.calendar .eventList p {
  margin: 0px;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 15px;
  background-color: white;
}

label {
  margin-bottom: 2px;
  line-height: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Urbanist", sans-serif, "微軟正黑體", "Microsoft JhengHei", "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0px;
}

h5 {
  font-weight: 600;
  padding-bottom: 10px;
}

p {
  font-family: "Urbanist", sans-serif, "微軟正黑體", "Microsoft JhengHei", "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  color: #505c62;
  line-height: 1.5;
  font-weight: 400;
  margin: 0px;
}

a,
a:focus {
  text-decoration: none;
  outline: 0 solid transparent;
  font-family: "Urbanist", sans-serif, "微軟正黑體", "Microsoft JhengHei", "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  color: #437FC7;
}

a:hover,
a:focus:hover {
  color: #6DAFFE;
}

ul {
  margin: 0;
}

ul li {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}

section {
  padding: 0px;
}

section.page_title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

section.page_title h2 {
  line-height: 30px;
}

section.page_title .breadcrumb {
  line-height: 30px;
  height: 30px;
  margin: 0px;
}

section.page_title .breadcrumb a {
  color: #303030;
}

section.page_title .active {
  color: #437FC7;
}

@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), only screen and (max-width: 767px) {
  section.page_title {
    padding-top: 50px;
  }
}

.orgchart .node.level::after {
  height: 20px;
  bottom: -20px;
}

.orgchart .node.level {
  margin-bottom: 15px;
}

.orgchart > ul > li > ul li > .node.level1:first-child::before {
  background-color: #7e3636 !important;
  display: none;
}

.orgchart > ul > li > ul li > .node.level1::before {
  background-color: #a5a5a5;
}

.orgchart .hierarchy.fadeOut::before {
  content: "";
  position: absolute;
  top: 100px;
  right: 100px;
  width: 100%;
  border-top: 2px solid #dadada;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#chart-container {
  font-family: Arial;
  border-radius: 5px;
  text-align: center;
}

.orgchart .node .horizontalEdge {
  display: none;
}

.orgchart .node .topEdge {
  display: none;
}

.orgchart {
  background: transparent;
}

.orgchart .nodes {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.oci {
  background-color: transparent;
  color: transparent;
}

.orgchart .node .toggleBtn::before {
  background-color: transparent;
}

.orgchart .node .toggleBtn:hover::before {
  background-color: transparent;
}

.oci-minus-square::before {
  font-family: "Font Awesome 5 Free";
  content: "\f146";
  font-weight: 900;
  color: #449d44;
  font-size: 18px;
  position: absolute;
  left: -5px;
  bottom: 0px;
}

.oci-plus-square::before {
  font-family: "Font Awesome 5 Free";
  content: "\f0fe";
  font-weight: 900;
  color: #449d44;
  font-size: 18px;
  position: absolute;
  left: -5px;
  bottom: 11px;
}

.orgchart .node::before {
  background-color: #ccc;
}

.orgchart .node:not(:only-child)::after {
  background-color: #dadada;
}

.orgchart > ul > li > ul li > .node::before {
  background-color: #dadada;
}

.orgchart .hierarchy::before {
  border-top: 2px solid #dadada;
}

.orgchart .nodes.vertical .hierarchy::before, .orgchart .nodes.vertical .hierarchy::after {
  border-color: #dadada;
}

.orgchart .nodes.vertical::before {
  background-color: #dadada;
}

#chart-container .level {
  width: 350px;
  height: 200px;
  line-height: 40px;
  padding: 0px;
  background-color: #ffffff;
  font-size: 12px;
  position: relative;
}

#chart-container .level .header {
  line-height: 30px;
  color: #ffffff;
  background-color: #18a5a5;
  text-align: center;
  position: relative;
}

#chart-container .level .header .icon i.fa-id-card {
  position: absolute;
  right: 5px;
  top: 8px;
  cursor: pointer;
  font-size: 15px;
}

#chart-container .level .pic {
  width: 120px;
  height: 160px;
  border-radius: 0px;
  overflow: hidden;
  border: 1px solid #fff;
  z-index: 99;
}

#chart-container .level .pic img {
  width: 100%;
  height: 98%;
  -o-object-fit: cover;
     object-fit: cover;
}

#chart-container .level .titleHeader {
  border-bottom: 1px solid #18a5a5;
  padding: 10px;
  text-align: start;
}

#chart-container .level .titleHeader .position {
  color: #666666;
}

#chart-container .level .titleHeader .name {
  font-weight: 600;
  font-size: 15px;
}

#chart-container .level .count {
  color: #18a5a5;
}

@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  #chart-container .level {
    width: 300px;
    height: 400px;
  }
  #chart-container .level .pic {
    width: 90%;
    height: 240px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    margin: 0 auto;
    z-index: 99;
  }
  #chart-container .level .pic img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #chart-container .level .titleHeader {
    text-align: center;
  }
}

#chart-container .level1 {
  width: 350px;
  height: 200px;
  line-height: 40px;
  padding: 0px;
  background-color: #ffffff;
  font-size: 12px;
  position: relative;
}

#chart-container .level1 .header {
  line-height: 30px;
  color: #ffffff;
  background-color: #244583;
  text-align: center;
  position: relative;
}

#chart-container .level1 .header .icon i.fa-id-card {
  position: absolute;
  right: 5px;
  top: 8px;
  cursor: pointer;
  font-size: 15px;
}

#chart-container .level1 .pic {
  width: 120px;
  height: 160px;
  border-radius: 0px;
  overflow: hidden;
  border: 1px solid #fff;
  z-index: 99;
}

#chart-container .level1 .pic img {
  width: 100%;
  height: 98%;
  -o-object-fit: cover;
     object-fit: cover;
}

#chart-container .level1 .titleHeader {
  border-bottom: 1px solid #244283;
  padding: 10px;
  text-align: start;
}

#chart-container .level1 .titleHeader .position {
  color: #666666;
}

#chart-container .level1 .titleHeader .name {
  font-weight: 600;
  font-size: 15px;
}

#chart-container .level1 .count {
  color: #437FC7;
}

@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  #chart-container .level1 {
    width: 300px;
    height: 400px;
  }
  #chart-container .level1 .pic {
    width: 90%;
    height: 240px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    margin: 0 auto;
    z-index: 99;
  }
  #chart-container .level1 .pic img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #chart-container .level1 .titleHeader {
    text-align: center;
  }
}

#chart-container .level1-spec {
  width: 300px;
  height: 170px;
  line-height: 40px;
  padding: 0px;
  background-color: #ffffff;
  font-size: 12px;
  position: relative;
}

#chart-container .level1-spec .header {
  line-height: 30px;
  color: #ffffff;
  background-color: #437FC7;
  text-align: center;
  position: relative;
}

#chart-container .level1-spec .header .icon i.fa-id-card {
  position: absolute;
  right: 5px;
  top: 8px;
  cursor: pointer;
  font-size: 15px;
}

#chart-container .level1-spec .pic {
  width: 100px;
  height: 130px;
  border-radius: 0px;
  overflow: hidden;
  border: 1px solid #fff;
  z-index: 99;
}

#chart-container .level1-spec .pic img {
  width: 100%;
  height: 98%;
  -o-object-fit: cover;
     object-fit: cover;
}

#chart-container .level1-spec .titleHeader {
  border-bottom: 1px solid #244283;
  padding: 10px;
  text-align: start;
}

#chart-container .level1-spec .titleHeader .position {
  color: #666666;
}

#chart-container .level1-spec .titleHeader .name {
  font-weight: 600;
  font-size: 15px;
}

#chart-container .level1-spec .count {
  color: #437FC7;
}

@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  #chart-container .level1-spec {
    width: 300px;
    height: 400px;
  }
  #chart-container .level1-spec .pic {
    width: 90%;
    height: 240px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    margin: 0 auto;
    z-index: 99;
  }
  #chart-container .level1-spec .pic img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #chart-container .level1-spec .titleHeader {
    text-align: center;
  }
}

#chart-container .level2 {
  width: 180px;
  height: 260px;
  line-height: 40px;
  padding: 0px;
  background-color: #ffffff;
  font-size: 12px;
  position: relative;
}

#chart-container .level2 .header {
  line-height: 30px;
  color: #ffffff;
  background-color: #437FC7;
  text-align: center;
  position: relative;
}

#chart-container .level2 .header .icon i.fa-id-card {
  position: absolute;
  right: 5px;
  top: 8px;
  cursor: pointer;
  font-size: 15px;
}

#chart-container .level2 .pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #fff;
  z-index: 99;
}

#chart-container .level2 .pic img {
  width: 100%;
  height: 98%;
  -o-object-fit: cover;
     object-fit: cover;
}

#chart-container .level2 .titleHeader {
  border-bottom: 1px solid #437FC7;
  padding: 10px;
  text-align: start;
}

#chart-container .level2 .titleHeader .position {
  color: #666666;
}

#chart-container .level2 .titleHeader .name {
  font-weight: 600;
  font-size: 15px;
}

#chart-container .level2 .count {
  color: #437FC7;
}

@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  #chart-container .level2 {
    width: 300px;
    height: 380px;
  }
  #chart-container .level2 .pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    margin: 0 auto;
    z-index: 99;
  }
  #chart-container .level2 .pic img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #chart-container .level2 .titleHeader {
    text-align: center;
  }
}

#chart-container .level-spec {
  width: 180px;
  height: 260px;
  line-height: 40px;
  padding: 0px;
  background-color: #ffffff;
  font-size: 12px;
  position: relative;
}

#chart-container .level-spec .header {
  line-height: 30px;
  color: #ffffff;
  background-color: #776db1;
  text-align: center;
  position: relative;
}

#chart-container .level-spec .header .icon i.fa-id-card {
  position: absolute;
  right: 5px;
  top: 8px;
  cursor: pointer;
  font-size: 15px;
}

#chart-container .level-spec .pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #fff;
  z-index: 99;
}

#chart-container .level-spec .pic img {
  width: 100%;
  height: 98%;
  -o-object-fit: cover;
     object-fit: cover;
}

#chart-container .level-spec .titleHeader {
  border-bottom: 1px solid #776db1;
  padding: 10px;
  text-align: start;
}

#chart-container .level-spec .titleHeader .position {
  color: #666666;
}

#chart-container .level-spec .titleHeader .name {
  font-weight: 600;
  font-size: 15px;
}

#chart-container .level-spec .count {
  color: #44a1d0;
}

@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  #chart-container .level-spec {
    width: 300px;
    height: 380px;
  }
  #chart-container .level-spec .pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    margin: 0 auto;
    z-index: 99;
  }
  #chart-container .level-spec .pic img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #chart-container .level-spec .titleHeader {
    text-align: center;
  }
}

#chart-container .level3 {
  width: 180px;
  height: 110px;
  line-height: 40px;
  padding: 0px;
  background-color: #ffffff;
  font-size: 12px;
  position: relative;
}

#chart-container .level3 .header {
  line-height: 30px;
  color: #ffffff;
  background-color: #f39223;
  text-align: center;
  position: relative;
}

#chart-container .level3 .header .icon i.fa-id-card {
  position: absolute;
  right: 5px;
  top: 8px;
  cursor: pointer;
  font-size: 15px;
}

#chart-container .level3 .pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #fff;
  z-index: 99;
}

#chart-container .level3 .pic img {
  width: 100%;
  height: 98%;
  -o-object-fit: cover;
     object-fit: cover;
}

#chart-container .level3 .titleHeader {
  border-bottom: 1px solid #f39223;
  padding: 10px;
  text-align: start;
}

#chart-container .level3 .titleHeader .position {
  color: #666666;
}

#chart-container .level3 .titleHeader .name {
  font-weight: 600;
  font-size: 15px;
}

#chart-container .level3 .count {
  color: #f39223;
}

@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  #chart-container .level3 {
    width: 300px;
    height: 130px;
  }
  #chart-container .level3 .pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    margin: 0 auto;
    z-index: 99;
  }
  #chart-container .level3 .pic img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #chart-container .level3 .titleHeader {
    text-align: center;
  }
}

#chart-container .isLast {
  padding: 0px;
  border-left: 4px solid RGB(245, 199, 29);
  width: 180px;
  height: 100px;
  line-height: 40px;
  padding: 0px;
  background-color: #ffffff;
  font-size: 12px;
  position: relative;
}

#chart-container .isLast .header {
  line-height: 30px;
  color: #ffffff;
  background-color: transparent;
  text-align: center;
  position: relative;
}

#chart-container .isLast .header .icon i.fa-id-card {
  position: absolute;
  right: 5px;
  top: 8px;
  cursor: pointer;
  font-size: 15px;
}

#chart-container .isLast .pic {
  width: 120px;
  height: 120px;
  border-radius: 0px;
  overflow: hidden;
  border: 1px solid #fff;
  z-index: 99;
}

#chart-container .isLast .pic img {
  width: 100%;
  height: 98%;
  -o-object-fit: cover;
     object-fit: cover;
}

#chart-container .isLast .titleHeader {
  border-bottom: 1px solid RGB(245, 199, 29);
  padding: 10px;
  text-align: start;
}

#chart-container .isLast .titleHeader .position {
  color: #666666;
}

#chart-container .isLast .titleHeader .name {
  font-weight: 600;
  font-size: 15px;
}

#chart-container .isLast .count {
  color: #437FC7;
}

#chart-container .isLast .header {
  color: #437FC7;
}

@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  #chart-container .isLast {
    width: 300px;
    height: 130px;
  }
  #chart-container .isLast .pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    margin: 0 auto;
    z-index: 99;
  }
  #chart-container .isLast .pic img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #chart-container .isLast .titleHeader {
    text-align: center;
  }
}

.btnArea {
  position: fixed;
  top: 20px;
  z-index: 999;
  right: 30px;
  display: block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btnArea i {
  line-height: 18px;
  font-size: 12px;
}

.btnArea .btn_toggle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  display: block;
  text-align: center;
  line-height: 15px;
  font-size: 14px;
  padding: 3px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 10px;
}

.modalArea .modal-body {
  line-height: 22px;
  font-size: 18px;
}

.areaUrl {
  line-height: 20px;
  cursor: pointer;
}

.areaUrl .fas {
  text-align: right;
  padding-right: 0px;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  color: #fff;
}

.areaUrl:hover .fas {
  padding-left: 8px;
  display: inline-block;
  color: #000;
}

.logo {
  width: 200px;
}

.vizew-nav-tab li:first-of-type .information_card {
  border-radius: 10px 10px 0px 0px;
}

.vizew-nav-tab li:last-child .information_card {
  border-radius: 0px 0px 10px 10px;
}

.HomeBanner {
  max-width: 1440px;
  margin: 0 auto;
}

.HomeBanner .vizew-nav-tab {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 350px;
  overflow-x: hidden;
  overflow-y: hidden;
  display: inline-block;
}

@media only screen and (min-width: 1200px) {
  .HomeBanner .vizew-nav-tab {
    height: 300px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .HomeBanner .vizew-nav-tab {
    height: 280px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .HomeBanner .vizew-nav-tab {
    height: 250px;
  }
}

@media only screen and (max-width: 767px) {
  .HomeBanner .vizew-nav-tab {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 767px) {
  .HomeBanner .vizew-nav-tab li.nav-item {
    width: calc(100%/3);
  }
}

.HomeBanner .vizew-nav-tab .nav-link {
  padding: 0;
  width: 100%;
}

.HomeBanner .vizew-nav-tab .nav-link .information_card {
  width: 100%;
  padding: 50px 10px 5px 10px;
  height: calc(350px/3);
  z-index: 1;
  position: relative;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

@media only screen and (min-width: 1200px) {
  .HomeBanner .vizew-nav-tab .nav-link .information_card {
    height: calc(300px/3);
    padding: 40px 10px 5px 10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .HomeBanner .vizew-nav-tab .nav-link .information_card {
    height: calc(280px/3);
    padding: 40px 10px 5px 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .HomeBanner .vizew-nav-tab .nav-link .information_card {
    height: calc(250px/3);
    padding: 30px 10px 5px 10px;
  }
}

@media only screen and (max-width: 767px) {
  .HomeBanner .vizew-nav-tab .nav-link .information_card {
    width: 100%;
    height: 80px;
    padding: 15px 10px 5px 10px;
  }
}

.HomeBanner .vizew-nav-tab .nav-link .information_card:before {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 50%;
  content: '';
  z-index: -1;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  background-color: #1797ff77;
}

.HomeBanner .vizew-nav-tab .nav-link .information_card:before h5 {
  border-bottom: 0px solid #fff;
  display: block;
  font-size: 16px;
  font-weight: 700;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .HomeBanner .vizew-nav-tab .nav-link .information_card:before h5 {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .HomeBanner .vizew-nav-tab .nav-link .information_card:before h5 {
    font-size: 13px;
  }
}

@media only screen and (max-width: 767px) {
  .HomeBanner .vizew-nav-tab .nav-link .information_card:before h5 {
    font-size: 13px;
  }
}

.HomeBanner .vizew-nav-tab .nav-link .information_card:after {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 50%;
  content: '';
  background-color: #1797ff77;
  z-index: -1;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.HomeBanner .vizew-nav-tab .nav-link .information_card:hover h5 {
  color: #fff;
  border-bottom: 1px solid #fff;
  display: inline-block;
}

.HomeBanner .vizew-nav-tab .nav-link .information_card:hover p {
  color: #fff;
}

.HomeBanner .vizew-nav-tab .nav-link .information_card:hover:before {
  width: 50%;
}

.HomeBanner .vizew-nav-tab .nav-link .information_card:hover:after {
  width: 50%;
}

@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  .HomeBanner .carouselArea {
    padding: 0px;
  }
}

.HomeBanner .carouselArea .carousel-inner {
  border-radius: 10px;
}

.HomeBanner .carouselArea .carousel-inner .carousel-item .photoLink .resImg {
  background-size: contain;
  -webkit-background-size: contain;
  background: center center no-repeat;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 350px;
}

@media only screen and (min-width: 1200px) {
  .HomeBanner .carouselArea .carousel-inner .carousel-item .photoLink .resImg {
    height: 300px;
    background: center center no-repeat;
    background-size: 100% 300px;
    -webkit-background-size: 100% 300px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .HomeBanner .carouselArea .carousel-inner .carousel-item .photoLink .resImg {
    height: 280px;
    background: center center no-repeat;
    background-size: 100% 280px;
    -webkit-background-size: 100% 280px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .HomeBanner .carouselArea .carousel-inner .carousel-item .photoLink .resImg {
    height: 250px;
    background-size: 100% 250px;
    -webkit-background-size: 100% 250px;
  }
}

@media only screen and (max-width: 767px) {
  .HomeBanner .carouselArea .carousel-inner .carousel-item .photoLink .resImg {
    height: 200px;
    background-size: 100% 200px;
    -webkit-background-size: 100% 200px;
  }
}

.linkList {
  padding: 0px 5px;
}

.linkList li {
  padding: 5px;
}

.marqueeBox {
  padding: 0px;
  background-color: #ffffff;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #18a5a5;
}

.marqueeBox .newsTitle {
  display: inline-block;
  position: relative;
  background-color: #18a5a5;
  border-radius: 8px 0px 0px 8px;
}

.marqueeBox .newsTitle p {
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #FFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.marqueeBox .newsTitle span {
  width: 0;
  position: absolute;
  right: -10px;
  top: 10px;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #18a5a5;
}

.marqueeBox .marquee-wrapper {
  margin: 0;
}

.marqueeBox .marquee-wrapper ul {
  height: 40px;
  padding: 10px;
  line-height: 40px;
  position: relative;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .marqueeBox .marquee-wrapper ul {
    height: 80px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .marqueeBox .marquee-wrapper ul {
    height: 110px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .marqueeBox .marquee-wrapper ul {
    height: 110px;
  }
}

@media only screen and (max-width: 767px) {
  .marqueeBox .marquee-wrapper ul {
    height: 210px;
  }
}

.marqueeBox .marquee-wrapper ul li {
  position: absolute;
  width: 100%;
  opacity: 0;
  bottom: 50px;
  padding: 5px;
  text-align: left;
  line-height: 40px;
  -webkit-animation-name: marquee;
          animation-name: marquee;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  font-size: 18px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), only screen and (max-width: 767px) {
  .marqueeBox .marquee-wrapper ul li {
    padding: 0px 10px;
  }
}

.marqueeBox .marquee-wrapper ul li a {
  color: #505c62;
}

.marqueeBox .marquee-wrapper ul li a:hover {
  color: #6DAFFE;
}

@-webkit-keyframes marquee {
  0% {
    bottom: -50%;
    opacity: 1;
  }
  10% {
    bottom: -15%;
  }
  40% {
    bottom: -15%;
  }
  60% {
    top: -200%;
  }
  100% {
    top: -200%;
  }
}

@keyframes marquee {
  0% {
    bottom: -50%;
    opacity: 1;
  }
  10% {
    bottom: -15%;
  }
  40% {
    bottom: -15%;
  }
  60% {
    top: -200%;
  }
  100% {
    top: -200%;
  }
}

.info img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.a-link {
  color: #505c62;
  line-height: 30px;
}

.a-link.active {
  border-bottom: 3px solid #2452a7;
  color: #2452a7;
}

.timeline .time_line {
  position: relative;
}

.timeline .time_line::before {
  background-color: #437FC7;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 23px;
  width: 3px;
  content: " ";
  margin: 0;
}

.timeline .circle-s {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}

.process .list-group .active {
  background-color: #437FC7;
  border: none;
}

.process .list-group .active p {
  color: white;
}

.process .tab-content .cronLink:hover {
  color: RGB(245, 199, 29);
}

.process .tab-content table.vCorn td {
  vertical-align: middle;
}

[draggable="true"] {
  /*
   To prevent user selecting inside the drag source
  */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.none-link {
  cursor: default;
}

.tooltip-inner {
  opacity: 1 !important;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
  opacity: 1 !important;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  opacity: 1 !important;
}
/*# sourceMappingURL=style.css.map */