/* Plugins Master Stylesheet */
@import url("../plugins/bootstrap-5.0.0-dist/css/bootstrap-reboot.min.css");
@import url("../plugins/bootstrap-5.0.0-dist/css/bootstrap.min.css");
@import url('../plugins/fontawesome-free-5.15.4/css/all.min.css');
@import url('../plugins/select2-4.0.13/css/select2.min.css');
@import url('../plugins/select2-4.0.13/css/multiple-select.min.css');
@import url('../plugins/DataTables-1.10.25/datatables.min.css');
@import url("../plugins/DataTables-1.10.25/Responsive-2.2.9/css/responsive.bootstrap5.min.css");
@import url("../plugins/DataTables-1.10.25/Responsive-2.2.9/css/responsive.bootstrap.min.css");
@import url('../plugins/daterangepicker-3.0.5/daterangepicker.css');
@import url('../plugins/jquery/jquery-ui.min.css');
@import url('../plugins/jOrgChart/jquery.jOrgChart.css');
@import url('../plugins/chart.js/Chart.min.css');
@import url('../plugins/Magicsuggest/css/magicsuggest.css');


/* :: 1.0 Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;600&display=swap');


@import "base/reset";
// *******************
//     helpers
// *******************
@import "helpers/color";
@import "helpers/fonts";
@import "helpers/responsive";
@import "helpers/spacing";
@import "helpers/border";

// *******************
//     component
// *******************

@import "component/button";
@import "component/img";
@import "component/form";
@import "component/sidebar";
@import "component/card";
@import "component/datatable";
@import "component/datepicker";
// @import "component/header";

// *******************
//     base
// *******************
@import "base/reboot";

// *******************
//     pages
// // *******************
@import "pages/organization";
@import "pages/index";
@import "pages/other";

