
.logo {
        width: 200px;
        // margin: 0 auto;
        // padding:20px 50px;
    }
header {
    .photoLink{
        // height: 450px;
        height: inherit;
    }
    .carousel-caption{
      margin-bottom: 30px;
    }
}
.company {
    margin-top: -120px;
    
}
.linkList{
        padding: 0px 20px;
        li{
            padding: 5px;
            .btn-menu{
                display: flex;
                padding-left: 15px;
                justify-content: space-between;
                transition: all 0.6s ease-in-out;
                .fas{
                    text-align: right;
                    line-height: 40px;
                    padding-right: 0px;
                    transition: all 0.8s ease-in-out
                }
                &:hover{
                    padding-left: 20px;
                    .fas{
                        padding-right: 20px;
                        color: $white;
                    }
                }
            }
        }
}
.bottom_line{
  &::before{
    content:'';
    width: 100%;
    height: 6px;
    display: block;
    background-color: white;
    position: absolute;
    bottom: -8px;
    left: 0px;
     -webkit-transform: scaleX(.3);
    transform: scaleX(.3);
    opacity: 0;
    transition: all .3s
  }
  &:hover{
    &::before{
    opacity: 1;
    background-color: $important;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
    transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity
    }
  }
}

// #event{
//   text-align: center;
// }
// .marquee-vertical{
// 	transform-origin: left;
// 	transform: rotate(90deg) translateY(-50px);
// }
.marqueeBox{
    
    .marquee-wrapper {
      ul{
        height: 30px;
        position: relative;
        li{
            position: absolute;
            top: -10;
            left: calc(40% - 100px);
            opacity: 0;
            animation-name: display;
            animation-iteration-count:infinite;
            margin-left: 20px;
            @media #{$breakpoint-xs}{
              left: calc(30% - 100px);
            }
          }
        }
    }
}
@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  15% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}


.ui-datepicker-week-end a {
    color: rgb(170, 12, 12) !important;
}

.collapse-box-wrapper {
  width:100%;
  padding-left:30px;
  position: relative;
  margin-bottom:40px;

  label.collapse-box-label{
    width:100%;
    display:inline-block;
    cursor:pointer;

    h3 {
      display:inline;
      float:left;
      margin:0;
    }
    span{
      display:block;
      position:absolute;
      top:10px;
      left:0;
      margin: 0;
      width: 0; height: 0;
      background:#FF5656;
      transition: 0.2s;
      -webkit-transition: 0.2s;
      cursor: pointer;
      

      &:before {
        content:'';
        position:absolute;

        width: 13px;
        height: 1px;
        background: inherit;
        transition: inherit;
        -webkit-transition: inherit;
        transform: rotate(50deg);
        -ms-transform: rotate(50deg);
        -moz-transform: rotate(50deg);
        -webkit-transform: rotate(50deg);
      }
      &:after {
        content:'';
        position:absolute;
        width: 13px;
        height: 1px;
        left: 8px;
        background: inherit;
        transition: inherit;
        -webkit-transition: inherit;
        transform: rotate(-50deg);
        -ms-transform: rotate(-50deg);
        -moz-transform: rotate(-50deg);
        -webkit-transform: rotate(-50deg);
      }
    }
  }
  .collapse-box-check {
    position: fixed;
    left:-9999px;
    opacity: 0;

    // Animate arrow on check
    &:checked + label.collapse-box-label span:before{
      transform: rotate(-50deg);
      -ms-transform: rotate(-50deg);
      -moz-transform: rotate(-50deg);
      -webkit-transform: rotate(-50deg);
    }
    &:checked + label.collapse-box-label span:after {
      transform: rotate(50deg);
      -ms-transform: rotate(50deg);
      -moz-transform: rotate(50deg);
      -webkit-transform: rotate(50deg);
    }

    // Show collapsed element on check
    &:checked + label.collapse-box-label + .collapse-box {
      height:auto;
      opacity:1;
      margin-top:0px;
    }
  }
  .collapse-box {
    padding-top:10px;
    height:0;
    overflow:hidden;
    opacity:0;
    transition: all 0.2s ease-in-out;
    margin-top:-50px;
    padding-right: 1px;
    p {
      font-size:14px;
      line-height: 22px;
    }
  }

}

mwt-title-btn{
    bottom: 10px;
}



/標籤按鈕樣式與大小/
.mwt-title-btn li{
    width: 120px;
    height: 60px;
    float: left;
    margin:3px;
    padding: 3px;
    background: rgba(255,255,255,0.6);
    border-radius: 0;
    border: 0;
    text-indent: 0;
}



/正在輪播樣式/
.mwt-title-btn li.active{
    width: 120px;
    height: 60px;
    border-bottom:solid 5px #ec2a45;
    background: rgba(0,0,0,0.6);
    color: #fff;
    margin-top: 3px;
}