
.logo {
        width: 200px;
    }
// 輪播圖
.HomeBanner{
  .carouselArea{
    padding: 0px 0px 0px 10px;
    @media #{$breakpoint-md},#{$breakpoint-xs}{
      padding: 0px;
    }
    .carousel-item{
      height: 350px;
      .photoLink{
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
      }
    }
  }
}
.linkList{
  padding: 0px 5px;
  li{
      padding: 5px;
  }
}

.marqueeBox{
  padding: 0px;
  background-color: #ffffff;
  height: 40px;
  border-radius: 8px 0px 0px 8px;
  // box-shadow: 1px 1px 3px 0.5px rgba(197, 197, 197, 0.432);
  border: 1px solid #FAA929 ;
  .newsTitle{
    display: inline-block;
    position: relative;
    background-color: #FAA929;
    border-radius: 8px 0px 0px 8px;
    p{
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      color: #FFF;
      box-sizing: border-box;
    }
    span{
      width: 0;
      position: absolute;
      right: -10px;
      top: 10px;
      height: 0;
      border-style: solid;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent #FAA929;
    }
  }
  .marquee-wrapper {
      margin: 0;
      ul{
        min-height:40px;
        padding: 10px;
        line-height: 40px;
        position: relative;
        @media #{$breakpoint-lg}{
          height: 80px;
        }
        @media #{$breakpoint-md}{
          height: 110px;
        }
        @media #{$breakpoint-sm}{
          height: 110px;
        }
        @media #{$breakpoint-xs}{
          height: 210px;
        }
        li{
            position: absolute;
            width: 100%;
            opacity: 0;
            bottom: -20px;
            padding: 5px;
            color: $text;
            text-align: left;
            line-height: 40px;
            animation-name: marquee;
            animation-iteration-count:infinite;
            animation-timing-function:linear;
            font-size: 18px;
            @media #{$breakpoint-lg,$breakpoint-md,$breakpoint-sm,$breakpoint-xs}{
              padding: 0px 10px;
            }
            a{
              color:$text;
              &:hover{
                color: $primary;
              }
            }
          }
        }
    }
}

@keyframes marquee {
  0% { 
    bottom: -50%;
    opacity: 1;
  }
  10% { 
    bottom: -15%;
  }
  30% { 
    bottom: -15%;
  }
  60% { 
    top: -200%;
  }
  100% { top: -200%;
  }
}

