
.logo {
        width: 200px;
        margin: 0 auto;
        padding: 20px;
    }
header {
    .photoLink{
        height: 450px;
    }
    .announcement{
        // background-image: url(../../public/img/bg2.jpg);
        // background-size: cover;
        // border-radius:50% / 0 0 100% 100%;
        // height: 450px;
        // width: 100%;
        .carousel-indicators{
            bottom: 50px;
        }
    }
    .in_link{
        position: relative;
        top: -60px;
    }
}
.company {
    margin-top: -120px;
    
}
.link{
    margin-top: 50px;
    ul{
        padding: 0px 20px;
        li{
            padding: 5px;
            .btn-menu{
                display: flex;
                padding-left: 15px;
                justify-content: space-between;
                transition: all 0.6s ease-in-out;
                .fas{
                    text-align: right;
                    line-height: 40px;
                    padding-right: 0px;
                    transition: all 0.8s ease-in-out
                }
                &:hover{
                    padding-left: 20px;
                    .fas{
                        padding-right: 20px;
                        color: $white;
                    }
                }
            }
        }
    }
}
.marquee-vertical{
	transform-origin: left;
	transform: rotate(90deg) translateY(-50px);
}
.marqueeBox{
    height: 130px;
    .marquee-wrapper {
        position: relative;
        display: flex;
        animation-name: marquee;
        animation-duration: 15s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        will-change: transform;
        ul{
            // overflow: hidden;
            
            li{
                display: block;
                padding: 0 40px;
            }
            
            // &:last-child {
            // 	position: absolute;
            // 	top: 0;
            // 	left: 0px;
            // }
        }
    }
}
@keyframes marquee{
  0%{
		transform:translateY(30%)
  }
  to{
		transform:translateY(-100%)
		// transform:translate3d(0,-120%,0)
	}
}


.ui-datepicker-week-end a {
    color: rgb(170, 12, 12) !important;
}
