.bg{
    // background: url('../public/img/bg.jpg')bottom center no-repeat;
    background-color: #ffffff;
    background: linear-gradient(top,rgb(255, 255, 255)0%,rgba(255, 255, 255, 0.6)80%),url('../public/img/bg.jpg')bottom center no-repeat no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}
.loginPage{
    width: 400px;
    margin: 0px auto;
    margin-top: 150px;
    .card-body{
        padding: 30px;
        .title{
        line-height: 40px;
        color: #D81F18;
        text-align: center;
        font-family: $fontLogin;
    }
    .form-group{
        margin-top: 20px;
    }
    .input-group-text{
        height: 38px;
    }
    .currentID{
        width: 100%;
        margin: 0 auto;
        .vradio{
            display: inline-block;
            padding: 0px 50px;
        }
    }
    .loginButton{
        width: 100%;
        .btn-create{
            width: 100%;
            height: 40px;
            margin-top: 10px;
            background-color: #D81F18;
        }
    }
    }
    
    
}
.logoutPage{
    width: 400px;
    margin: 0px auto;
    margin-top: 150px;
    .card-body{
        padding: 30px;
        text-align: center;
        .title{
        line-height: 40px;
        color: #D81F18;
        text-align: center;
        font-family: $fontLogin;
    }
    .loginButton{
        width: 100%;
        .btn-create{
            width: 100%;
            height: 40px;
            margin-top: 10px;
            background-color: #D81F18;
        }
    }
    }
    
    
}

.loginPage2{
    height: 100vh;
    .loginBg{
        width: 100%;
        height: 100vh;
        background-color: #ffffff;
        position: relative;
        overflow: hidden;
        .loginPic{
            min-width: 100%;
            min-height: 100%;
            display: block;
            object-fit: cover;
            position: absolute;
            top: 0%;
            left: 0%;
            opacity: .7;
        }
    }
    .loginPage{
        background-color: transparent;
        .password_input{
            position: relative;
        }
        .showpassword{
            position: absolute;
            right: 5%;
            top: 35%;
            opacity: .3;
        }
        .loginButton{
            margin-top: 0px;
            .btn-create{
                border-radius: 20px;
            }
        }
    }
}

