//--- Title and BreadCrumb---//
.page_title{
    align-items: center;
    padding:  20px 30px;
    h2{
        line-height: 30px;
    }
    .breadcrumb{
        line-height: 30px;
        height: 30px;
        margin: 0px;
        a{
            color: $dark;
        }
    }
    .active{
        color: $secondary;
    }
}
//--- Title and BreadCrumb End ---//


//HomePage
.info{
    img{
        height: 300px;
        object-fit: cover;
    }
}

//Profile
.a-link{
    color: $text;
    line-height: 30px;
    &.active{
        border-bottom: 3px solid $important;
        color: $important;
    }
}

.timeline{
    .time_line{
        position: relative;
        &::before{
            background-color: $secondary;
            position: absolute;
            top: 0;
            bottom: 0;
            left:23px;
            width: 3px;
            content: " ";
            margin: 0;
        }
    }
    .circle-s{
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        color: $white;
        text-align: center;
        font-size: 20px;
    }
}

//Process
.process{
    .list-group{
        .active{
            // background-color: #ccc;
            background-color: $secondary;
            border: none;
            p{
                color: white;
                // color: #000;
            }
        }
    }
    .tab-content{
        .cronLink{
            &:hover{
                color: $yellow;
            }
        }
        table.vCorn{
            td{
                vertical-align: middle;
            }
        }
    }
}

[draggable="true"] {
  /*
   To prevent user selecting inside the drag source
  */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

