
@mixin button($background-color:$text,$fontColor: $white,$hover-color:$lightGray,$hover-fontColor:$white) {
    height: 35px;
    line-height: 30px;
    min-width: auto;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    margin:0px 5px;
    background-color: $background-color;
    color: $fontColor;
    &:hover{
    background-color: $hover-color;
    color: $hover-fontColor;
    font-size: 16px;
    font-weight: 400;
    }
    &:focus{
    font-size: 16px;
    font-weight: 400;
    }
}
.btn-search {
    @include button($background-color:#7C8AA1,$fontColor: $white,$hover-color:#525e70,$hover-fontColor:$white);
}
.btn-edit {
    @include button($background-color:$secondary,$fontColor: $white,$hover-color:$hover,$hover-fontColor:$white);
}
.btn-delete {
    @include button($background-color:rgb(228, 61, 39),$fontColor: $white,$hover-color:rgb(141, 20, 20),$hover-fontColor:$white);
}
.btn-padding {
    @include button($background-color:rgb(22, 171, 182),$fontColor: $white,$hover-color:rgb(16, 118, 126),$hover-fontColor:$white);
}

.btn-cal{
    @include button($background-color:$secondary,$fontColor: $white,$hover-color:$secondary,$hover-fontColor:$white);
    width: 35px;
    height: 35px;
    
}
.btn-more{
    padding: 10px 30px;
    background-color: $text;
    color: $white;
    transition-duration: .5s;
    transition-property: transform;
    transform: translateY(0px);
    &:hover{
        background-color: $white;
        border:1px solid $text;
        color: $text;
        box-shadow: 0px 3px 8px 0px rgba(197, 197, 197, 0.5);
        transform: translateY(10px);
    }
}
.btn-more2{
    padding: 10px 30px;
    background-color: $white;
    color: $important;
    border:1px solid $important;
    transition-duration: .5s;
    transition-property: transform;
    &:hover{
        background-color: $important;
        color: $white;
        border:none;
        box-shadow: 0px 3px 8px 0px rgba(197, 197, 197, 0.5);
        transform: translateY(-6px);
    }
}

.btn-menu{
    width: 100%;
    height: 50px;
    background-color: #F3F3F3;
    border-radius: 8px;
    line-height: 40px;
    color: $text;
    font-size: 14px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    // &::before{
    //     content: '';
    //     position: absolute;
    //     left: 0px;
    //     bottom:0px;
    //     z-index:-1;
    //     width: 100%;
    //     height:100%;
    //     background: transparent;
    //     box-shadow: inset 0px 0px 0px $primary;
    //     display: inline-block;
    //     -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    //     transition: all 0.6s ease-in-out
    // }
    &:hover{
        color: $white;
        background-color: $primary;
        // &::before{
        //     box-shadow: inset 300px 0px 0px $primary;
        //     color: $white;
        // }
    }
}
.btn-link{
    width: 100%;
    height: 40px;
    background-color: $secondary;
    border-radius: 8px;
    color: $white;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    &:hover{
        background-color: $white;
        color: $secondary;
        border-color: $secondary;
    }
}

button{
    outline-style: none;
}

.cursor{
    cursor: pointer;
}

@mixin pill($background-color:green) {
    background-color: $background-color;
    color: white;
    border-radius: 20px;
    padding: 2px 10px;
}

.pill-success{
    @include pill;
}
.pill-danger{
    @include pill($background-color:rgb(175, 25, 25));
}
.pill-approval{
    @include pill($background-color:$primary);
}
.pill-draft{
    @include pill($background-color:$yellow);
}