
@mixin button($background-color:$text,$fontColor: $white,$hover-color:$lightGray,$hover-fontColor:$white) {
    height: 35px;
    line-height: 35px;
    min-width: auto;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    margin:0px 5px;
    background-color: $background-color;
    color: $fontColor;
     &:hover{
    background-color: $hover-color;
    color: $hover-fontColor;
    font-size: 16px;
    font-weight: 400;
    }
    &:focus{
    font-size: 16px;
    font-weight: 400;
    }
}

.btn-edit {
    @include button($background-color:$secondary,$fontColor: $white,$hover-color:$hover,$hover-fontColor:$white);
}
.btn-delete {
    @include button($background-color:rgb(228, 61, 39),$fontColor: $white,$hover-color:rgb(141, 20, 20),$hover-fontColor:$white);
}
.btn-padding {
    @include button($background-color:rgb(22, 171, 182),$fontColor: $white,$hover-color:rgb(16, 118, 126),$hover-fontColor:$white);
}

.btn-cal{
    @include button($background-color:$secondary,$fontColor: $white,$hover-color:$secondary,$hover-fontColor:$white);
    width: 35px;
    height: 35px;
    
}

.btn-menu{
    width: 100%;
    height: 50px;
    background-color: #d0dce6;
    border-radius: 8px;
    line-height: 40px;
    color: $text;
    font-size: 14px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    &::before{
        content: '';
        position: absolute;
        left: 0px;
        bottom:0px;
        z-index:-1;
        width: 100%;
        height:100%;
        background: transparent;
        box-shadow: inset 0px 0px 0px $hover;
        display: inline-block;
        -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
        transition: all 0.6s ease-in-out
    }
    &:hover{
        color: $white;
        &::before{
            box-shadow: inset 300px 0px 0px $hover;
            color: $white;
        }
    }
}

button{
    outline-style: none;
}