.card{
    box-shadow: 1px 1px 3px 1px rgba(197, 197, 197, 0.37);
    border-radius: 5px;
    padding: 10px;
    &:hover{
        border:0px;
        box-shadow: 1px 1px 20px 7px rgba(197, 197, 197, 0.336);
    }
    .card-footer{
        min-height: 50px;
    }
}
.card-noShadow{
    border-radius: 10px;
    padding: 20px;
}
.card-radius{
    border-radius: 5px;
    padding: 5px;
    height: 100%;
    // min-height: 500px;
    background-color: #fff;
    .footer{
        // height: 80px;
        display: flex;
        justify-content: center;
        align-items:flex-end;
    }
}
.card-border{
    border-radius: 2px;
    padding: 5px;
    height: inherit;
    border: 1px solid rgb(206, 206, 206);
    &:hover{
        border:0px;
        box-shadow: 1px 1px 20px 7px rgba(197, 197, 197, 0.336);
    }
    .footer{
        // height: 80px;
        display: flex;
        justify-content: center;
        align-items:flex-end;
    }
}
/* effect #2 */
// 
@mixin buttonEffect($background-color:#edf6ff,$fontColor:#000,$EnFontColor:$text){
    background-color: $background-color;
    transition: background 0.3s; 
    z-index: 1;
    color: #000;
    h5{
        color: $fontColor;
        padding: 0px;
    }
    p{
        color: $fontColor;
        font-size: 14px;
    }
}

.bg-blue30{
    @include buttonEffect($background-color:#edf6ff);
}
.bg-blue40{
    @include buttonEffect($background-color:#6DAFFE);
}
.bg-blue50{
    @include buttonEffect($background-color:#437FC7);
}
.circle-sm{
    width: 40px;
    height: 40px;
}