.card{
    box-shadow: 1px 1px 3px 1px rgba(197, 197, 197, 0.37);
    border-radius: 5px;
    padding: 10px;
    &:hover{
        border:0px;
        box-shadow: 1px 1px 20px 7px rgba(197, 197, 197, 0.336);
    }
    .card-footer{
        min-height: 50px;
    }
}
.card-noShadow{
    border-radius: 10px;
    padding: 20px;
}
.card-radius{
    border-radius: 5px;
    padding: 5px;
    height: 100%;
    // min-height: 500px;
    background-color: #fff;
    .footer{
        // height: 80px;
        display: flex;
        justify-content: center;
        align-items:flex-end;
    }
}
.card-border{
    border-radius: 2px;
    padding: 5px;
    height: inherit;
    border: 1px solid rgb(206, 206, 206);
    &:hover{
        border:0px;
        box-shadow: 1px 1px 20px 7px rgba(197, 197, 197, 0.336);
    }
    .footer{
        // height: 80px;
        display: flex;
        justify-content: center;
        align-items:flex-end;
    }
}
/* effect #2 */
// 
@mixin buttonEffect($background-color:#edf6ff,$fontColor:#000,$EnFontColor:$text){
    background-color: $background-color;
    transition: background 0.3s; 
    z-index: 1;
    color: #000;
    h5{
        color: $fontColor;
        padding: 0px;
    }
    p{
        color: $fontColor;
        font-size: 14px;
    }
}
.information_card {
    width: 100%;
    height: calc(350px / 3);
    padding: 50px 10px 5px 10px;
    position: relative;
    transition: background 0.3s; 
    @media #{$breakpoint-md},#{$breakpoint-xs}{
      width:50%
    }
    &:before { 
        position: absolute;
        width: 0; height: 100%; top: 0; left: 50%;
        content: ''; 
        z-index: -1; 
        transition: width 0.3s; 
        background-color: #1797ff77;
        h5{
            border-bottom: 0px solid #fff;
            display:inline-block;
        }
    }
    &:after { position: absolute; width: 0; height: 100%; top: 0; right: 50%; content: ''; background-color: #1797ff77; z-index: -1; transition: width 0.3s; 
    }
    &:hover{
        h5{
            color: #fff;
            border-bottom: 1px solid #fff;
            display:inline-block;
        }
        p{
            color: #fff;
        }
        &:before{ 
            width: 50%;
        }
        &:after { 
            width: 50%;
        }
    }
}
.bg-blue30{
    @include buttonEffect($background-color:#edf6ff,$fontColor:#505c62,$EnFontColor:#505c62);
}
.bg-blue40{
    @include buttonEffect($background-color:#6DAFFE,$fontColor:#41494e,$EnFontColor:#41494e);
}
.bg-blue50{
    @include buttonEffect($background-color:#437FC7,$fontColor:#000,$EnFontColor:#000);
}
.circle-sm{
    width: 40px;
    height: 40px;
}