.card{
    box-shadow: 1px 1px 3px 1px rgba(197, 197, 197, 0.37);
    border-radius: 5px;
    padding: 20px;
}
.card-noShadow{
    border-radius: 10px;
    padding: 20px;
}
.card-radius{
    border-radius: 5px;
    padding: 5px;
    height: 100%;
}
.card-border{
    border-radius: 2px;
    padding: 5px;
    height: 100%;
    border: 1px solid rgb(206, 206, 206);
    transition:0.3s;
    &:hover{
        border:0px;
        box-shadow: 1px 1px 20px 7px rgba(197, 197, 197, 0.336);
    }
}

.information_card {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px 0px;
    transition: 0.3s;
    &:hover{
        box-shadow: 0px 0px 5px 1px rgba(138, 150, 170, 0.8);
    }
    @media #{$breakpoint-lg}{
        // width: 70%;
        padding: 10px;
        height: 100px;
        margin: 0 auto;
        h3{
            font-size: 20px;
        }
    }
    @media #{$breakpoint-md},#{$breakpoint-xs}{
        // width: 100%;
        margin: 0 auto;
        h3{
            font-size: 20px;
        }
    }
}

.circle-sm{
    width: 40px;
    height: 40px;
}