
//--- Title and BreadCrumb---//
.page_title{
    align-items: center;
    h2{
        line-height: 30px;
    }
    .breadcrumb{
        line-height: 30px;
        height: 30px;
        margin: 0px;
    }
}
//--- Title and BreadCrumb End ---//

// #InputArea
.InputArea{
    .card{
        padding: 0px;
        .card-header{
            background-color: brown;
            color: $white;
        }
        .card-body{
            height: 300px !important;
        }
    }
}
.in-redline{
    border:1px solid red !important;
}

// #SelectArea
.SelectArea{
    .card{
        padding: 0px;
    }
    .card-header{
        background-color: $secondary;
        color: $white;
    }
     .card-body{
        height: 300px !important;
    }
    .search{
        background-color: $white !important;
    }
    .dropdown-menu{
        left:0;
    }
}

// #TableArea
.TableArea{
    .card-header{
        background-color: rgb(79, 18, 150);
        color: $white;
    }
    
    .table-Hover{
        td,th{
            border-top: 1px solid rgb(155, 177, 219);
        }
        tbody tr{
            
            &:hover{
                background-color: rgb(253, 216, 48) !important; 
            }
            &:nth-child(odd){
                background-color: rgb(234, 245, 252);
            }
        }
    }
    .datatable-RWD{
        text-align: left;
        tbody{
            .dtr-title{
                text-align: left;
            }
        }
    }
}

// #ChartArea
.ChartArea{
    .card{
        padding: 0px;
    }
    .card-header{
        background-color: rgb(0, 166, 196);
        color: $white;
    }
    .card-body{
        .Chart{
            margin: 0 auto;
            text-align: center;
            thead{
                background-color: #ccc;
                line-height: 15px;
            }
        }
    }
}


