.img-circle{
    border-radius: 50%;
}
.img-fluid{
    width: 100%;
    height: 100%;
    padding: 0px;
    object-fit: contain;
    background-position: center center;
}
.img-sm{
    width: 80%;
    height: 80%;
    padding: 0px;
    object-fit: cover;
    @media #{$breakpoint-xs}{
        width: 30%;
        height: 30%;
    }
}
