body {
    font-family: $fontsNoto;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
}

label{
    margin-bottom: 2px;
    line-height: 25px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fontEn,$font-family-sans-serif;
    font-weight: 400;
    margin: 0px;
}
h5{
    // font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
}
p {
    font-family: $fontEn,$font-family-sans-serif;
    color: $text;
    line-height: 1.5;
    font-weight: 400;
    margin: 0px;
    // margin-bottom: 10px;
}

a,
a:focus {
    text-decoration: none;
    outline: 0 solid transparent;
    font-family: $fontEn,$font-family-sans-serif;
    color: $secondary;
    &:hover{
        color: $primary;
    }
}

ul {
    margin: 0;
    li {
        list-style: none;
    }
}

img {
    height: auto;
    max-width: 100%;
}

section{
    // padding: 10px 20px;
    padding: 0px;
}
section.page_title{
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
    h2{
        line-height: 30px;
    }
    .breadcrumb{
        line-height: 30px;
        height: 30px;
        margin: 0px;
        a{
            color: $dark;
        }
    }
    .active{
        color: $secondary;
    }
    @media #{$breakpoint-md},#{$breakpoint-sm},#{$breakpoint-xs}{
        padding-top:50px ;
    }
}