// Primary Color
$primary: #2d3994;

// Secondary Color
$secondary: #708ba5;

$hover: #2d94ce;
// Text Color
$text: #5a5a5a;

// White Color
$white: #ffffff;

// Dark Color
$dark: #2e2e2e;

// Hover Color
$hover: #62c9fc;
