// Fonts
$fonts: 'Roboto', sans-serif;
$fontsNoto: 'Noto Sans TC', sans-serif;

$font-family-sans-serif:
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for macOS (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  Roboto,
  // Basic web fallback
  "Helvetica Neue", Arial,
  // Linux
  "Noto Sans",
  "Liberation Sans",
  // Sans serif fallback
  sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
// $fontLogin:'Oswald', sans-serif;
// $fontsEn: "Montserrat", sans-serif;

.fontsEn{
    font-family: $font-family-sans-serif;
}
.f-300{
    font-weight: 300;
}
.f-400{
    font-weight: 400;
}
.f-500{
    font-weight: 500;
}

.fz-12{
    font-size: 12px;
}
.fz-13{
    font-size: 13px;
}
.fz-15{
    font-size: 15px;
}
.fz-20{
    font-size: 20px;
}
.fz-25{
    font-size: 25px;
}
.fz-30{
    font-size: 30px;
}
.lh-15{
    line-height: 15px;
}
.lh-20{
    line-height: 20px;
}
.lh-30{
    line-height: 30px;
}
.lh-40{
    line-height: 40px;
}
.lh-50{
    line-height: 50px;
}
.lh-70{
    line-height: 70px;
}
