// Fonts
$fonts: 'Roboto', sans-serif;
$fontsNoto: 'Noto Sans TC', sans-serif;
$fontLogin:'Oswald', sans-serif;
$fontsEn: "Montserrat", sans-serif;

.fontsEn{
    font-family: $fontsEn;
}
.f-500{
    font-weight: 500;
}

.fz-20{
    font-size: 20px;
}
.fz-25{
    font-size: 25px;
}
.fz-30{
    font-size: 30px;
}
.fz-12{
    font-size: 12px;
}
.lh-20{
    line-height: 20px;
}
.lh-30{
    line-height: 30px;
}
.lh-40{
    line-height: 40px;
}
