// Fonts
$fonts: 'Roboto', sans-serif;
$fontsNoto: 'Noto Sans TC', sans-serif;
$fontLogin:'Oswald', sans-serif;
$fontsEn: "Montserrat", sans-serif;

.fontsEn{
    font-family: $fontsEn;
}
.f-500{
    font-weight: 500;
}