section.page_title {
    padding-top: 3px;
    padding-bottom: 30px;
    // padding:3px 20px 30px 0px;
}

//--- Title and BreadCrumb---//
.page_title{
    align-items: center;
    h2{
        line-height: 30px;
    }
    .breadcrumb{
        line-height: 30px;
        height: 30px;
        margin: 0px;
        a{
            color: $dark;
        }
    }
    .active{
        color: $secondary;
    }
}
//--- Title and BreadCrumb End ---//
.mt-15 {
    margin-top: 15px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

.p-15 {
    padding: 15px !important;
}

.p-30 {
    padding: 30px !important;
}

.p-50 {
    padding: 50px !important;
}

.pb-70 {
    padding-bottom: 70px !important;
}

.px-30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.pt-30 {
    padding-top: 30px;
}

.pl-10{
    padding-left: 10px;
}
.pr-10{
    padding-right: 10px;
}